<!-- END PAGE HEADER -->
<!-- BEGIN MAIN CONTENT -->
<div class="row margin-top-10">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12 text-center margin-bottom-10 margin-top-10">
                        <label style="margin-right: 20px">
                            <input type="radio"
                                   name="checkType"
                                   ng-model="vm.checkType"
                                   ng-value="1"
                                   ng-change="vm.checkTypeChange()">
                            ĐIỂM DANH LỄ
                        </label>

                        <label>
                            <input type="radio"
                                   name="checkType"
                                   ng-model="vm.checkType"
                                   ng-value="2"
                                   ng-change="vm.checkTypeChange()">
                            ĐIỂM DANH GIÁO LÝ
                        </label>

                        <div class="row" ng-show="vm.checkType != null">
                            <button style="margin-right: 20px" ng-click="vm.start()" ng-disabled="vm.scanning">
                                Ấn để mở Camera
                            </button>

                            <button ng-click="vm.stop()" ng-disabled="!vm.scanning">
                                Ấn để tắt Camera
                            </button>

                            <div class="status">
                                Status: {{ vm.status }}
                            </div>

                            <div id="reader" ng-show="vm.scanning"></div>
                        </div>
                    </div>

                    <div ng-show="vm.isRoleAdmin || vm.isRoleEducationManagerment" class="row text-center">
                        <div class="col-md-12">
                            <label for="start-set-up" style="font-size: 30px">Bắt đầu thiết lập điểm danh</label>
                            <input style="height: 30px; width: 30px"
                                   id="start-set-up"
                                   type="checkbox"
                                   ng-model="vm.startSetUp">
                            <br>
                            <small>(chỉ cho tạo bảng điểm danh theo ngày)</small>
                        </div>

                        <div class="row text-center" ng-show="vm.startSetUp">
                            <button class="btn btn-primary margin-bottom-10" ng-click="vm.createCheckList()">
                                TẠO BẢNG ĐIỂM DANH
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 margin-bottom-10" ng-show="!vm.startSetUp">
                        <div class="col-md-2 margin-top-10">
                            <input data-ng-model="vm.startDate"
                                   type="text"
                                   class="form-control"
                                   placeholder="TÌM TỪ NGÀY"
                                   my-date-picker />
                        </div>

                        <div class="col-md-2 margin-top-10">
                            <input data-ng-model="vm.endDate"
                                   type="text"
                                   class="form-control"
                                   placeholder="ĐẾN NGÀY"
                                   my-date-picker />
                        </div>
                    </div>

                    <div class="col-md-12 sticky-search-bar">
                        <div class="col-md-2 margin-bottom-10">
                            <input type="text"
                                   class="form-control"
                                   ng-model="vm.searchTextClient"
                                   placeholder="Gõ tên vào đây để tìm...">
                        </div>

                        <div class="col-md-2 margin-bottom-10">
                            <ui-select ng-model="vm.searchDto.user.person.enrollmentClass"
                                       ng-change=""
                                       close-on-select="true">
                                <ui-select-match allow-clear="false" placeholder="Chọn lớp để lọc">
                                    {{$select.selected.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="cls.id as cls in vm.enrollmentClasses | propsFilter:{name:$select.search}">
                                    <div ng-bind-html="cls.name | highlight:$select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="col-md-2">
                            <ui-select ng-model="vm.searchDto.group"
                                       ng-change="vm.groupChange()"
                                       close-on-select="true"
                                       style="width:100%">
                                <ui-select-match allow-clear="true" placeholder="BAN/HỘI...">
                                    {{$select.selected.name}}
                                </ui-select-match>

                                <ui-select-choices repeat="group in vm.groups | propsFilter:{name:$select.search}">
                                    <div ng-bind-html="group.name | highlight:$select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="col-md-4 margin-bottom-10">
                            <button class="btn btn-primary" ng-click="vm.statistics()">
                                TẢI LẠI DANH SÁCH
                            </button>

                            <button class="btn btn-success" ng-click="vm.exportAttendancePng()">
                                <i class="fa fa-file-image"></i> Xuất PNG
                            </button>

                            <button class="btn btn-info" ng-click="vm.exportAttendanceExcel()">
                                <i class="fa fa-file-excel"></i> Xuất Excel
                            </button>
                        </div>

                        <div class="col-md-12">
                            <strong class="text-primary">Tổng học sinh:</strong> {{vm.totalStudent}} <br>
                            <strong class="text-red">THÁNH LỄ ✝ => </strong>
                            (Có mặt) {{vm.totalMass1}} + (Ca đoàn) {{vm.totalMass5}} = <strong>Tổng đi:</strong> {{vm.totalGoToChurch}}
                            >>||<<
                            (Vắng) {{vm.totalMass2}} + (Vắng (P)) {{vm.totalMass6}} = <strong>Tổng nghỉ:</strong> {{vm.totalAbsentChurch}}
                            <br>

                            <strong class="text-red">HỌC GIÁO LÝ 📖 => </strong>
                            <strong>Tổng đi:</strong> {{vm.totalClass1}}
                            >>||<<
                            (Vắng) {{vm.totalClass2}} + (Vắng (P)) {{vm.totalClass6}} = <strong>Tổng nghỉ:</strong> {{vm.totalAbsentClass}}
                            <br>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <div class="col-md-12">
                        <div class="table-scroll">
                            <table class="table table-hover table-striped table-bordered text-center order-table">
                                <thead>
                                <tr>
                                    <th scope="col">ĐIỂM DANH</th>
                                    <th scope="col">TÊN</th>
                                    <th scope="col">LỄ</th>
                                    <th scope="col">GL</th>
                                    <th scope="col">LỚP</th>
                                    <th scope="col">GHI CHÚ</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr ng-repeat="personDate in vm.personDates | filter:vm.searchClient">
                                    <td>
                                        <button class="btn btn-primary margin-bottom-10"
                                                ng-click="vm.saveByClick(personDate, personDate.user,1,1)">
                                            <i class="fa fa-church"></i>
                                        </button>

                                        <button class="btn btn-danger margin-bottom-10"
                                                ng-click="vm.saveByClick(personDate, personDate.user,1,2)">
                                            <i class="fa fa-church"></i>
                                        </button>

                                        <button class="btn btn-primary margin-bottom-10"
                                                ng-click="vm.saveByClick(personDate, personDate.user,2,1)">
                                            <i class="fa fa-chalkboard-teacher"></i>
                                        </button>

                                        <button class="btn btn-danger margin-bottom-10"
                                                ng-click="vm.saveByClick(personDate, personDate.user,2,2)">
                                            <i class="fa fa-chalkboard-teacher"></i>
                                        </button>
                                    </td>

                                    <td>
                                        {{$index + 1}}.
                                        {{personDate.user.person.patron}}
                                        {{personDate.user.person.lastName}}
                                        {{personDate.user.person.firstName}}
                                        <br>
                                        <small>{{personDate.user.person.birthDate | date:'dd/MM/yy'}}</small>
                                    </td>

                                    <td ng-class="{
                                            'status-class-green': personDate.statusMass == 1,
                                            'status-class-red': personDate.statusMass == 2,
                                            'status-class-warning': personDate.statusMass == 6,
                                            'status-class-info': personDate.statusMass == 5
                                        }">
                                        <ui-select ng-model="personDate.statusMass"
                                                   close-on-select="true"
                                                   data-ng-change="vm.saveByClick(personDate, personDate.user,1,personDate.statusMass)">
                                            <ui-select-match allow-clear="false" placeholder="CÓ ĐI LỄ KHÔNG?">
                                                {{$select.selected.name}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="so.id as so in vm.statusMasses | propsFilter:{name:$select.search}"
                                                               ui-disable-choice="so.id != 6 && so.id != 5">
                                                <div class="bold"
                                                     ng-class="{'text-muted': so.id != 6 && so.id != 5}"
                                                     ng-bind-html="so.name | highlight:$select.search">
                                                </div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <small class="text-red">
                                            {{personDate.timeGoToChurch | date:'dd/MM HH:mm'}}
                                        </small>
                                    </td>

                                    <td ng-class="{
                                            'status-class-green': personDate.statusClass == 1,
                                            'status-class-red': personDate.statusClass == 2,
                                            'status-class-warning': personDate.statusClass == 6,
                                            'status-class-info': personDate.statusClass == 5
                                        }">
                                        <ui-select ng-model="personDate.statusClass"
                                                   close-on-select="true"
                                                   data-ng-change="vm.saveByClick(personDate, personDate.user,2,personDate.statusClass)">
                                            <ui-select-match allow-clear="false" placeholder="CÓ ĐI HỌC GIÁO LÝ KHÔNG?">
                                                {{$select.selected.name}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="so.id as so in vm.statusClasses | propsFilter:{name:$select.search}"
                                                               ui-disable-choice="so.id != 6">
                                                <div class="bold"
                                                     ng-class="{'text-muted': so.id != 6}"
                                                     ng-bind-html="so.name | highlight:$select.search">
                                                </div>
                                            </ui-select-choices>
                                        </ui-select>
                                        <small class="text-red">
                                            {{personDate.timeGoToClass | date:'dd/MM HH:mm'}}
                                        </small>
                                    </td>

                                    <td>
                                        {{ vm.enrollmentClassMap[personDate.user.person.enrollmentClass] }}
                                    </td>

                                    <td>
                                        <input data-ng-model="personDate.description"
                                               placeholder="Ghi chú..."
                                               type="text"
                                               autofocus="autofocus"
                                               class="form-control"
                                               style="font-size: 15px;" />
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- BẢNG ẨN DÙNG ĐỂ XUẤT PNG -->
                <div id="attendance-export-wrapper" class="attendance-export-wrapper">
                    <div class="attendance-export-card">
                        <div class="attendance-export-title">DANH SÁCH ĐIỂM DANH</div>
                        <div class="attendance-export-subtitle">
                            Ngày xuất: {{ vm.exportDateText }}
                        </div>

                        <table class="table table-bordered attendance-export-table">
                            <thead>
                            <tr>
                                <th>TÊN</th>
                                <th>NGÀY SINH</th>
                                <th>LỄ</th>
                                <th>GL</th>
                                <th>LỚP</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="personDate in vm.personDates | filter:vm.searchClient">
                                <td class="text-left">
                                    {{$index + 1}}.
                                    {{personDate.user.person.patron}}
                                    {{personDate.user.person.lastName}}
                                    {{personDate.user.person.firstName}}
                                </td>

                                <td>
                                    {{ personDate.user.person.birthDate | date:'dd/MM/yyyy' }}
                                </td>

                                <td ng-class="vm.getStatusMassClass(personDate.statusMass)">
                                    {{ vm.getStatusMassName(personDate.statusMass) }}
                                </td>

                                <td ng-class="vm.getStatusClassClass(personDate.statusClass)">
                                    {{ vm.getStatusClassName(personDate.statusClass) }}
                                </td>

                                <td>
                                    {{ vm.enrollmentClassMap[personDate.user.person.enrollmentClass] }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="qrModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    QR Code - {{vm.zoomPerson.patron}} {{vm.zoomPerson.lastName}} {{vm.zoomPerson.firstName}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body text-center">
                <img ng-src="{{vm.qrPreview}}" style="max-width:100%;height:auto" alt="QR Preview">
            </div>
        </div>
    </div>
</div>

<div id="photoPreviewModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content photo-preview-modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    Ảnh đại diện - {{vm.photoPreviewUser.person.patron}} {{vm.photoPreviewUser.person.lastName}} {{vm.photoPreviewUser.person.firstName}}
                </h4>
                <button type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close"
                        ng-click="vm.closePhotoPreview()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body text-center photo-preview-body">
                <img ng-show="vm.photoPreviewUrl"
                     ng-src="{{vm.photoPreviewUrl}}"
                     alt="Ảnh đại diện"
                     class="photo-preview-large-img">
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="edit_object_modal.html">
    <div modal-movable>
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"></button>
            <h4 class="modal-title" data-ng-show="vm.personDate.isNew == true"><i class="icon-plus"></i>Add Student</h4>
            <h4 class="modal-title" data-ng-show="vm.personDate.isNew == false"><i class="fa fa-pencil-square-o"></i>Edit Student</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6 margin-top-10">
                    <label class="bold">HỌC SINH</label>
                    <ui-select ng-model="vm.personDate.user" data-ng-change="" sortable="true" close-on-select="true">
                        <ui-select-match allow-clear="false" placeholder="LỚP HỌC">
                            {{$select.selected.displayName}}
                        </ui-select-match>
                        <ui-select-choices repeat="so in vm.users | propsFilter: {displayName: $select.search}">
                            <div class="bold" ng-bind-html="so.displayName | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>

                <div class="col-md-12">
                    <label class="bold">code</label>
                    <input data-ng-model="vm.personDate.personDateCode" type="text" autofocus="autofocus" class="form-control"/>
                </div>

                <div class="col-md-12">
                    <label class="bold">Tên</label>
                    <input data-ng-model="vm.personDate.lastName" type="text" autofocus="autofocus" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
            <button type="button" ng-click="$close('yes');" class="btn btn-primary" data-dismiss="modal">Lưu</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="confirm_check_object_modal.html">
    <div modal-movable ng-click="$dismiss()">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"></button>
            <span class="modal-title"></span>
            <button ng-class="{
                'btn-success': vm.checkPerson.status == 1,
                'btn-danger': vm.checkPerson.status == 2,
                'btn-info': vm.checkPerson.status == 5,
                'btn-warning': vm.checkPerson.status == 6
            }"
                    type="button"
                    ng-click="$dismiss()"
                    class="btn"
                    data-dismiss="modal">
                <i class="fa fa-check"></i> THÀNH CÔNG - CLICK ĐỂ ĐÓNG
            </button>
        </div>

        <div class="modal-body">
            <div class="tntt-card tntt-card--stack">
                <div class="tntt-stt">#{{$index + 1}}</div>

                <div class="tntt-stack-avatar">
                    <div class="tntt-avatar tntt-avatar--big">
                        <img style="cursor:pointer;"
                             ng-click="vm.openPhotoPreview(vm.checkPerson.user)"
                             ng-src="{{settings.api.baseUrl}}public/users/photo/{{vm.checkPerson.user.username}}?v={{vm.checkPerson.user.photoVersion || 0}}"
                             alt="Avatar TNTT">
                    </div>
                </div>

                <div class="tntt-stack-name">
                    {{vm.checkPerson.user.person.patron}}
                    {{vm.checkPerson.user.person.lastName}}
                    {{vm.checkPerson.user.person.firstName}}
                </div>

                <div class="tntt-rowchips tntt-rowchips--center">
                    <span class="tntt-chip">🎂 {{vm.checkPerson.user.person.birthDate | date:'dd/MM/yyyy'}}</span>
                    <span class="tntt-chip">🆔 <span class="tntt-ellipsis">{{vm.checkPerson.user.username}}</span></span>

                    <span class="tntt-chip tntt-class-chip">
                        🎒 Lớp:
                        <ui-select ng-disabled="true"
                                   ng-model="vm.checkPerson.user.person.enrollmentClass"
                                   sortable="true"
                                   close-on-select="true"
                                   class="tntt-inline-select">
                            <ui-select-match allow-clear="false" placeholder="LỚP HỌC">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="so.id as so in vm.enrollmentClasses | propsFilter:{name:$select.search}">
                                <div class="bold" ng-bind-html="so.name | highlight:$select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </span>
                </div>

                <div class="tntt-times tntt-times--stack">
                    <div class="tntt-time">
                        <div class="tntt-time__label">⛪ Giờ đến nhà thờ</div>
                        <div class="tntt-time__value tntt-wrap">
                            {{vm.checkPerson.timeGoToChurch | date:'dd/MM/yyyy HH:mm:ss'}}
                        </div>
                    </div>

                    <div class="tntt-time">
                        <div class="tntt-time__label">📚 Giờ đến lớp giáo lý</div>
                        <div class="tntt-time__value tntt-wrap">
                            {{vm.checkPerson.timeGoToClass | date:'dd/MM/yyyy HH:mm:ss'}}
                        </div>
                    </div>
                </div>

                <div class="tntt-status-grid tntt-status-grid--stack">
                    <div class="tntt-statusbox"
                         ng-class="{
                             'tntt-ok': vm.checkPerson.statusMass==1,
                             'tntt-miss': vm.checkPerson.statusMass==2,
                             'tntt-warn': vm.checkPerson.statusMass==3,
                             'tntt-blue': vm.checkPerson.statusMass==5,
                             'tntt-purple': vm.checkPerson.statusMass==6
                         }">
                        <div class="tntt-statusbox__title">⛪ Trạng thái điểm danh Lễ</div>

                        <ui-select ng-disabled="true"
                                   ng-model="vm.checkPerson.statusMass"
                                   sortable="true"
                                   close-on-select="true">
                            <ui-select-match allow-clear="false" placeholder="Trạng thái Lễ">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="so.id as so in vm.statusMasses | propsFilter:{name:$select.search}">
                                <div class="bold" ng-bind-html="so.name | highlight:$select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="tntt-statusbox"
                         ng-class="{
                             'tntt-ok': vm.checkPerson.statusClass==1,
                             'tntt-miss': vm.checkPerson.statusClass==2,
                             'tntt-warn': vm.checkPerson.statusClass==3,
                             'tntt-blue': vm.checkPerson.statusClass==5,
                             'tntt-purple': vm.checkPerson.statusClass==6
                         }">
                        <div class="tntt-statusbox__title">📚 Trạng thái điểm danh Giáo lý</div>

                        <ui-select ng-disabled="true"
                                   ng-model="vm.checkPerson.statusClass"
                                   sortable="true"
                                   close-on-select="true">
                            <ui-select-match allow-clear="false" placeholder="Trạng thái GL">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="so.id as so in vm.statusClasses | propsFilter:{name:$select.search}">
                                <div class="bold" ng-bind-html="so.name | highlight:$select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

                <div class="tntt-footer">🌟 Chăm ngoan – Siêng năng – Vâng lời 🌟</div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="confirm_delete_modal.html">
    <div modal-movable>
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="icon-question"></i>Xóa</h4>
        </div>
        <div class="modal-body">
            <p>Bạn có chắc chắn muốn xóa bản ghi đã chọn không?</p>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Không</button>
            <button type="button" ng-click="$close('yes')" class="btn btn-primary" data-dismiss="modal">Có</button>
        </div>
    </div>
</script>

<script>
    const txHeight = 16;
    const tx = document.getElementsByTagName("textarea");

    for (let i = 0; i < tx.length; i++) {
        if (tx[i].value === '') {
            tx[i].setAttribute("style", "height:" + txHeight + "px;overflow-y:hidden;");
        } else {
            tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
        }
        tx[i].addEventListener("input", OnInput, false);
    }

    function OnInput() {
        this.style.height = 0;
        this.style.height = (this.scrollHeight) + "px";
    }
</script>

<style>
    .print-column { width: 20%; }
    .print-column-type { width: 5%; }
    .print-column-type-2 { width: 10%; }
    .print-column-ordinal-number { width: 1%; }

    .table { border: 0.5px solid #000000; }

    .table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > th,
    .table-bordered > tfoot > tr > th,
    .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > td,
    .table-bordered > tfoot > tr > td {
        border: 0.5px solid #000000;
    }

    #reader {
        width: 100%;
        max-width: 350px;
        margin-top: 20px;
    }

    .status {
        margin-top: 15px;
        padding: 10px;
        background: #f2f2f2;
        border-radius: 8px;
    }

    .datepicker {
        background: white !important;
    }

    .table-scroll {
        width: 100%;
        max-height: none;
        overflow-y: visible;
        overflow-x: auto;
    }

    .sticky-search-bar {
        position: sticky;
        top: 0;
        z-index: 999;
        background: #fff;
        padding: 10px 0;
        border-bottom: 1px solid rgba(0, 0, 0, .08);
    }

    .status-class-green {
        background: #e4fff5 !important;
    }

    .status-class-red {
        background: #e87867 !important;
        color: #fff;
    }

    .status-class-warning {
        background: #FFC107 !important;
    }

    .status-class-info {
        background: #17A2B8 !important;
        color: #fff;
    }

    .attendance-export-wrapper {
        display: none;
        position: fixed;
        left: -99999px;
        top: 0;
        width: 1200px;
        background: #ffffff;
        padding: 20px;
        z-index: -1;
    }

    .attendance-export-card {
        background: #ffffff;
        border: 1px solid #ddd;
        border-radius: 12px;
        padding: 20px;
    }

    .attendance-export-title {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 8px;
        color: #243b53;
    }

    .attendance-export-subtitle {
        font-size: 14px;
        text-align: center;
        margin-bottom: 20px;
        color: #666;
    }

    .attendance-export-table {
        width: 100%;
        border-collapse: collapse;
        font-size: 14px;
    }

    .attendance-export-table th,
    .attendance-export-table td {
        border: 1px solid #000 !important;
        padding: 10px;
        vertical-align: middle;
        text-align: center;
    }

    .attendance-export-table td.text-left {
        text-align: left !important;
    }

    .attendance-export-table th {
        background: #4472C4 !important;
        color: #fff !important;
        text-align: center;
        font-weight: 700;
    }

    .attendance-export-table td {
        background: #fff;
    }
</style>