<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row margin-top-10">
    <div class="col-md-12 margin-bottom-10" >
        <div class="portlet light bordered">
            <div class="portlet-body">

                <div class="row">
                    <div class="col-md-4 margin-bottom-20">
                        <div class="input-group">
                            <input ng-model="vm.searchDto.textSearch" ng-keyup="vm.enterSearchCode(e)" type="text"  class="form-control" placeholder="Find test...">
                            <div class="input-group-btn">
                                <button ng-click="vm.codeChange()" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="row text-center" ng-if="!settings.isAdmin">
                        <!--<div  class="col-md-12">-->
                            <!--&lt;!&ndash;<input id="page-index" placeholder="Page index" class="input-underline-only pagination" ng-model="vm.searchDto.pageIndex" /> /&ndash;&gt;-->
                            <!--<label for="page-size" class="bold">Page Size: &ensp;</label>-->
                            <!--<input id="page-size" placeholder="Page size" class="input-underline-only page-size-input" ng-model="vm.searchDto.pageSize" />-->
                            <!--<label style="cursor: pointer;" for="page-size" ng-click="vm.changePageSize()">&ensp;<i class="fa-solid fa-sync"></i></label>-->
                            <!--&lt;!&ndash;<label for="page-index" class="bold">INDEX/ SIZE: &ensp;</label>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div  class="col-md-12 margin-bottom-10 margin-top-10">&ndash;&gt;-->
                            <!--&lt;!&ndash;<input placeholder="The number of words listed..." class="input-underline-only" ng-model="vm.searchDto.pageSize" />&ndash;&gt;-->
                            <!--&lt;!&ndash;<a style="font-style:italic;font-size:18px" class="text-center bold" ng-click="vm.loadMore()">Load More - </a>&ndash;&gt;-->

                        <!--</div>-->
                        <div class="row">
                            <div class="container">
                                <div style="padding: 10px" class="col-md-3 col-sm-4 col-xs-12 margin-top-10" ng-repeat="item in vm.ieltsReadingTests">
                                    <div class="dash-let"  style="background: #946b2d !important">
                                        <a target="_blank" href="ielts_reading_actual_test/{{item.id}}" ng-if="item.pronounce == null || item.pronounce.length <= 0"  style="background: #ecb939 !important">
                                            <i class="fa fa-book"></i>
                                            <i class="fa fa-book"></i>
                                            <span>{{item.title}}</span>
                                        </a>
                                        <a target="_blank" style="background: #2a623d !important" href="ielts_reading_actual_test/{{item.id}}" ng-if="item.pronounce != null && item.pronounce.length > 0">
                                            <i class="fa fa-headphones"></i>
                                            <i class="fa fa-headphones" style="color: #1a472a"></i>
                                            <span style="color: white">{{item.title}}</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div  class="col-md-12">
                            <ul uib-pagination total-items="vm.bsTableControlCreateIELTSReadingTest.options.totalRows"
                                ng-model="vm.searchDto.pageIndex" max-size="10" items-per-page="vm.searchDto.pageSize"
                                class="pagination-sm"
                                previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
                                boundary-links="true"
                                num-pages="numPages"
                                ng-change="pageChanged()"></ul>
                            <pre style="padding:0;border: none; background-color: transparent">Page: {{vm.searchDto.pageIndex}} / {{numPages}} - Total: {{vm.bsTableControlCreateIELTSReadingTest.options.totalRows}}</pre>
                        </div>

                        <!--<a style="font-style:italic;font-size:18px" class="text-center bold" ng-click="vm.loadAll()"> Load All</a>-->
                        <!--</div>-->
                    </div>
                    <div class="col-md-12" ng-if="settings.isAdmin == true">
                        <table id="bsTableControl" bs-table-control="vm.bsTableControlCreateIELTSReadingTest"></table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-md-12" ng-if="settings.isAdmin == true">
    
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <input ng-change="vm.changeInTheProcessOfCreatingReadingTest()" style="height: 50px" data-ng-model="vm.ieltsReadingTest.title" type="text" class="form-control" placeholder="Test Name..." />
                        <input ng-change="vm.changeInTheProcessOfCreatingReadingTest()" style="height: 50px; margin-top: 10px" data-ng-model="vm.ieltsReadingTest.pronounce" type="text" class="form-control" placeholder="Test Audio Link..." />
                        <ui-select ng-change="vm.statusChange()" data-ng-model="vm.ieltsReadingTest.status" sortable="true" close-on-select="true" style="width: 100% !important;margin-top: 10px">
                            <ui-select-match placeholder="">{{$select.selected.name}}</ui-select-match>
                            <ui-select-choices repeat="status.id as status in vm.statuses | propsFilter: {name: $select.search}">
                                <div class="bold" ng-bind-html="status.name | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Passage 1 -->
    <div class="col-md-12" ng-if="settings.isAdmin == true">

        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row" style="margin-bottom: 5px">
                            <div class="col-md-3">
                                <ui-select ng-change="vm.changeInTheProcessOfCreatingReadingTest()" data-ng-model="vm.ieltsReadingTest.subQuestions[0].type" sortable="true" close-on-select="true" style="width: 100% !important;">
                                    <ui-select-match allow-clear="true" placeholder="">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="type.id as type in vm.types | propsFilter: {name: $select.search}">
                                        <div class="bold" ng-bind-html="type.name | highlight: $select.search"></div>
                                        <small>{{type.notice}}</small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-md-9 text-left" style="margin-bottom: 10px">
                                <button ng-show="vm.createPackage == false" class="btn btn-primary" data-ng-click="vm.startCreateQuestionForPassage1()"><i class="fa fa-arrow-right"></i> Start Creating Questions</button>
                                <button class="btn btn-success" ng-click="vm.saveReadingTest()">SAVE</button>
                            </div>
                            <div class="col-md-12 text-center" >
                                <p class="bold" style="font-size: 18px">Passage 1</p>
                            </div>
                            <div class="col-md-12">
                                <textarea ng-change="vm.changeInTheProcessOfCreatingReadingTest()"  ui-tinymce="tinymceOptionsToCreateQuestionForReadingTestPassage" ng-model="vm.ieltsReadingTest.subQuestions[0].question" />
                            </div>
                        </div>


                    </div>




                    <!-- add question -->

                    <div class="col-md-6">

                        <div class="col-md-12" ng-repeat="item in vm.ieltsReadingTest.subQuestions[0].subQuestions">
                            <div class="row margin-bottom-5">
                                <div class="col-md-6">
                                    <p style="font-size: 18px" class="bold">Question for package {{item.ordinalNumber}}</p>
                                    <a class="btn btn-danger" ng-click="deleteObject(item.id)">DELETE PACKAGE</a>
                                </div>
                                <div class="col-md-6">
                                    <ui-select ng-change="vm.changeInTheProcessOfCreatingReadingTest(item)" data-ng-model="item.type" sortable="true" close-on-select="true" style="width: 100% !important;">
                                        <ui-select-match allow-clear="true" placeholder="">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="type.id as type in vm.types | propsFilter: {name: $select.search}">
                                            <div class="bold" ng-bind-html="type.name | highlight: $select.search"></div>
                                            <small>{{type.notice}}</small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <textarea ng-change="vm.changeInTheProcessOfCreatingReadingTest()" ui-tinymce="tinymceOptionsToCreateQuestionForReadingTest" ng-model="item.question" />



                            <div class="col-md-12" ng-show="item.isHaveChildren == false">
                                <div class="col-md-12">
                                    <p style="font-size: 15px" class="bold">Configuring Answers for Questions</p>
                                </div>
                                <label class="bold" for="fromOfQuestions">
                                    From question
                                </label>
                                <!--<input style="margin-top: 5px;margin-bottom: 5px" data-ng-disabled="vm.disableFromQuestion == true" type="number" id="fromOfQuestions"  data-ng-model="vm.fromQuestion">-->
                                <input style="margin-top: 5px;margin-bottom: 5px" type="number" id="fromOfQuestions"  data-ng-model="vm.fromQuestion">

                                <label class="bold" for="toOfQuestions">
                                    to question
                                </label>
                                <input style="margin-top: 5px;margin-bottom: 5px" type="number" id="toOfQuestions" data-ng-model="vm.toQuestion" ng-change="vm.validateFromToQuestion()">

                                <br>
                                <label class="bold" for="numberConfig">
                                    The number of answers for each question
                                </label>
                                <input style="margin-top: 5px;margin-bottom: 5px" type="number" id="numberConfig" ng-model="vm.numberOfAnswers" ng-change="vm.createTempAnswers($index)">
                                <div ng-repeat="c in vm.tempAnswers" style="margin-bottom:5px">
                                    <input class="form-control" type="text" data-ng-model="c.answer.answer">
                                </div>
                                <p><span class="font-red bold">WARNING: </span>The process of configuring Answer for each package will disappear if you click ' <span class="bold font-yellow"> Adding questions for Package </span>' => make sure your configuration is correct</p>
                                <button class="btn btn-warning " data-ng-click="vm.addQuestionForPassage1($index)"><i class="fa fa-arrow-down"></i> Adding Questions For package {{item.ordinalNumber}}</button>
                                <button class="btn btn-success" ng-click="vm.saveReadingTest()">SAVE</button>
                            </div>


                            <hr>
                            <div class="row">
                                <div class="col-md-12" ng-repeat="q in item.subQuestions" style="margin-top: 20px;">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <h4 class="bold">Question {{q.ordinalNumber}}</h4>
                                            </div>
                                            <div class="col-md-10">
                                                <textarea ng-change="vm.changeInTheProcessOfCreatingReadingTest()" ui-tinymce="tinyConFigQuestion" ng-if="item.type == 2 || item.type == 3" class="form-control margin-bottom-10" rows="2"  data-ng-model="q.question"/>
                                                <textarea ng-change="vm.changeInTheProcessOfCreatingReadingTest()" class="form-control margin-bottom-10" rows="2"  data-ng-model="q.question"/>
                                                <small style="font-style: italic;font-weight: bold">(tick 'v' at where it is the correct answer)</small>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-md-12" ng-repeat="a in q.questionAnswers | orderBy: 'ordinalNumberQuestionAnswer'">
                                            <div class="row">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-2">
                                                    <h4 class="bold">Answer {{a.ordinalNumberQuestionAnswer}}</h4>
                                                </div>
                                                <div class="col-md-7">
                                                    <textarea ng-change="vm.changeInTheProcessOfCreatingReadingTest()"  class="form-control margin-bottom-5" rows="2"  data-ng-model="a.answer.answer"/>
                                                </div>
                                                <div class="col-md-1">
                                                    <input ng-change="vm.changeInTheProcessOfCreatingReadingTest()"  type="checkbox"  id="defaultCheck1" data-ng-model="a.correct">
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <hr>

                                </div>
                            </div>

                        </div>

                        <div class="col-md-12" style="margin-top: 20px; margin-bottom: 20px" ng-show="vm.createPackage == true">

                            <!--<hr>-->
                            <!--<div class="col-md-12" ng-show="vm.createPassageNumber == 1">-->
                            <div class="col-md-12">
                                <button class="btn btn-success" ng-click="vm.saveReadingTest()">SAVE</button>
                                <button class="btn btn-info" style="margin-left: 50px" data-ng-click="vm.addPackageForPassage1()"><i class="fa fa-arrow-down"></i> Adding Packages for passage 1</button>
                            </div>
                            <!--<div class="col-md-9" ng-show="vm.createPassageNumber == 2">-->
                            <!--</div>-->
                            <div class="col-md-12 text-right">
                                <button  class="btn btn-warning" data-ng-click="vm.startCreatePassage2()"><i class="fa fa-arrow-down"></i> Start creating for passage 2</button>
                                <button class="btn btn-success " ng-click="vm.saveReadingTest()">SAVE</button>
                            </div>
                            <!--</div>-->
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </div>

    <!-- Passage 2 -->
    <div class="col-md-12" ng-show="vm.createPassageNumber == 2 || vm.createPassageNumber == 3" ng-if="settings.isAdmin == true">

        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row" style="margin-bottom: 5px">
                            <div class="col-md-3">
                                <ui-select ng-change="vm.changeInTheProcessOfCreatingReadingTest()" data-ng-model="vm.ieltsReadingTest.subQuestions[1].type" sortable="true" close-on-select="true" style="width: 100% !important;">
                                    <ui-select-match allow-clear="true" placeholder="">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="type.id as type in vm.types | propsFilter: {name: $select.search}">
                                        <div class="bold" ng-bind-html="type.name | highlight: $select.search"></div>
                                        <small>{{type.notice}}</small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-md-6 text-center" style="margin-bottom: 5px">
                                <p class="bold" style="font-size: 18px">Passage 2</p>
                            </div>

                            <div class="col-md-12">
                                <textarea ng-change="vm.changeInTheProcessOfCreatingReadingTest()"  ui-tinymce="tinymceOptionsToCreateQuestionForReadingTestPassage" ng-model="vm.ieltsReadingTest.subQuestions[1].question" />
                            </div>
                        </div>


                    </div>




                    <!-- add question -->

                    <div class="col-md-6">

                        <div class="col-md-12" ng-repeat="item in vm.ieltsReadingTest.subQuestions[1].subQuestions">
                            <div class="row margin-bottom-5">
                                <div class="col-md-6">
                                    <p style="font-size: 18px" class="bold">Question for package {{item.ordinalNumber}}</p>
                                    <a class="btn btn-danger" ng-click="deleteObject(item.id)">DELETE PACKAGE</a>
                                </div>
                                <div class="col-md-6">
                                    <ui-select ng-change="vm.changeInTheProcessOfCreatingReadingTest(item)" data-ng-model="item.type" sortable="true" close-on-select="true" style="width: 100% !important;">
                                        <ui-select-match allow-clear="true" placeholder="">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="type.id as type in vm.types | propsFilter: {name: $select.search}">
                                            <div class="bold" ng-bind-html="type.name | highlight: $select.search"></div>
                                            <small>{{type.notice}}</small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>


                            <textarea ng-change="vm.changeInTheProcessOfCreatingReadingTest()"  ui-tinymce="tinymceOptionsToCreateQuestionForReadingTest" ng-model="item.question" />

                            <div class="col-md-12" ng-show="item.isHaveChildren == false">
                                <div class="col-md-12">

                                    <p style="font-size: 15px" class="bold">Configuring Answers for Questions</p>
                                </div>
                                <label class="bold" for="fromOfQuestions">
                                    From question
                                </label>
                                <!--<input style="margin-top: 5px;margin-bottom: 5px" type="number" data-ng-disabled="vm.disableFromQuestion == true" id="fromOfQuestions"  data-ng-model="vm.fromQuestion">-->
                                <input style="margin-top: 5px;margin-bottom: 5px" type="number" id="fromOfQuestions"  data-ng-model="vm.fromQuestion">

                                <label class="bold" for="toOfQuestions">
                                    To question
                                </label>
                                <input style="margin-top: 5px;margin-bottom: 5px" type="number" id="toOfQuestions" data-ng-model="vm.toQuestion" ng-change="vm.validateFromToQuestion()">

                                <br>
                                <label class="bold" for="numberConfig">
                                    The number of answers for each question
                                </label>
                                <input style="margin-top: 5px;margin-bottom: 5px" type="number" id="numberConfig" ng-model="vm.numberOfAnswers" ng-change="vm.createTempAnswers($index)">
                                <div ng-repeat="c in vm.tempAnswers" style="margin-bottom:5px">
                                    <input class="form-control" type="text" data-ng-model="c.answer.answer">
                                </div>
                                <p><span class="font-red bold">WARNING: </span>The process of configuring Answer for each package will disappear if you click ' <span class="bold font-yellow"> Adding questions for Package </span>' => make sure your configuration is correct</p>
                                <button class="btn btn-warning" data-ng-click="vm.addQuestionForPassage2($index)"><i class="fa fa-arrow-down"></i> Adding Questions For package {{item.ordinalNumber}}</button>
                                <button class="btn btn-success" ng-click="vm.saveReadingTest()">SAVE</button>
                            </div>

                            <hr>
                            <div class="row" >
                                <div class="col-md-12" ng-repeat="q in item.subQuestions" style="margin-top: 20px;">

                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <h4 class="bold">Question {{q.ordinalNumber}}</h4>
                                            </div>
                                        <div class="col-md-10">
                                            <textarea ng-change="vm.changeInTheProcessOfCreatingReadingTest()" ui-tinymce="tinyConFigQuestion" ng-if="item.type == 2 || item.type == 3" class="form-control margin-bottom-10" rows="2"  data-ng-model="q.question"/>
                                            <textarea ng-change="vm.changeInTheProcessOfCreatingReadingTest()" class="form-control margin-bottom-10" rows="2"  data-ng-model="q.question"/>
                                            <!--<textarea ng-change="vm.changeInTheProcessOfCreatingReadingTest()" ng-if="item.type == 3"  class="form-control margin-bottom-10" rows="2"  data-ng-model="q.question"/>-->
                                            <!--<button class="btn btn-success" style="margin-top: 5px;margin-bottom: 5px" data-ng-click="vm.addAnswerForQuestionForPassage2($index)"><i class="fa fa-plus-circle"></i> Adding answers For Questions {{q.ordinalNumber}}</button>-->
                                            <small style="font-style: italic;font-weight: bold">(tick 'v' where it is the correct answer)</small>
                                        </div>
                                    </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-md-12" ng-repeat="a in q.questionAnswers | orderBy: 'ordinalNumberQuestionAnswer'">
                                            <div class="row">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-2">
                                                    <h4 class="bold">Answer {{a.ordinalNumberQuestionAnswer}}</h4>
                                                </div>
                                                <div class="col-md-7">
                                                    <textarea ng-change="vm.changeInTheProcessOfCreatingReadingTest()" class="form-control margin-bottom-5" rows="2"  data-ng-model="a.answer.answer"/>
                                                </div>
                                                <div class="col-md-1">
                                                    <input ng-change="vm.changeInTheProcessOfCreatingReadingTest()"  type="checkbox"  id="defaultCheck1" data-ng-model="a.correct">
                                                </div>
                                            </div>


                                        </div>

                                    </div>

                                    <hr>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-12 margin-bottom-10" ng-show="vm.createPackage == true">

                            <!--<hr>-->
                            <div class="col-md-12" style="margin-top: 20px; margin-bottom: 20px">
                                <button class="btn btn-success" ng-click="vm.saveReadingTest()">SAVE</button>
                                <button class="btn btn-info" style="margin-left: 50px"  data-ng-click="vm.addPackageForPassage2()"><i class="fa fa-arrow-down"></i> Adding Packages for passage 2</button>
                            </div>
                            <!--<div class="col-md-9" ng-show="vm.createPassageNumber == 3">-->
                            <!--</div>-->
                            <div class="col-md-12 text-right">
                                <button  class="btn btn-warning" data-ng-click="vm.startCreatePassage3()"><i class="fa fa-arrow-down"></i> Start creating for passage 3</button>
                                <button class="btn btn-success " ng-click="vm.saveReadingTest()">SAVE</button>
                            </div>
                            <!--</div>-->
                        </div>
                    </div>


                </div>
            </div>
        </div>



    </div>


    <!-- Passage 3 -->
    <div class="col-md-12" ng-show="vm.createPassageNumber == 3" ng-if="settings.isAdmin == true">

        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row" style="margin-bottom: 5px">
                            <div class="col-md-3">
                                <ui-select ng-change="vm.changeInTheProcessOfCreatingReadingTest()" data-ng-model="vm.ieltsReadingTest.subQuestions[2].type" sortable="true" close-on-select="true" style="width: 100% !important;">
                                    <ui-select-match allow-clear="true" placeholder="">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="type.id as type in vm.types | propsFilter: {name: $select.search}">
                                        <div class="bold" ng-bind-html="type.name | highlight: $select.search"></div>
                                        <small>{{type.notice}}</small>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="col-md-6 text-center" style="margin-bottom: 5px">
                                <p class="bold" style="font-size: 18px">Passage 3</p>
                            </div>

                            <div class="col-md-12">
                                <textarea ng-change="vm.changeInTheProcessOfCreatingReadingTest()"  ui-tinymce="tinymceOptionsToCreateQuestionForReadingTestPassage" ng-model="vm.ieltsReadingTest.subQuestions[2].question" />
                            </div>
                        </div>
                    </div>

                    <!-- add question -->

                    <div class="col-md-6">

                        <div class="col-md-12" ng-repeat="item in vm.ieltsReadingTest.subQuestions[2].subQuestions">
                            <div class="row margin-bottom-5">
                                <div class="col-md-6">
                                    <p style="font-size: 18px" class="bold">Question for package {{item.ordinalNumber}}</p>
                                    <a class="btn btn-danger" ng-click="deleteObject(item.id)">DELETE PACKAGE</a>
                                </div>
                                <div class="col-md-6">
                                    <ui-select ng-change="vm.changeInTheProcessOfCreatingReadingTest(item)" data-ng-model="item.type" sortable="true" close-on-select="true" style="width: 100% !important;">
                                        <ui-select-match allow-clear="true" placeholder="">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="type.id as type in vm.types | propsFilter: {name: $select.search}">
                                            <div class="bold" ng-bind-html="type.name | highlight: $select.search"></div>
                                            <small>{{type.notice}}</small>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <textarea ng-change="vm.changeInTheProcessOfCreatingReadingTest()"  ui-tinymce="tinymceOptionsToCreateQuestionForReadingTest" ng-model="item.question" />

                            <div class="col-md-12" ng-show="item.isHaveChildren == false">
                                <div class="col-md-12">

                                    <p style="font-size: 15px" class="bold">Configuring Answers for Questions</p>
                                </div>
                                <label class="bold" for="fromOfQuestions">
                                    From question
                                </label>
                                <!--<input style="margin-top: 5px;margin-bottom: 5px" type="number" data-ng-disabled="vm.disableFromQuestion == true" id="fromOfQuestions"  data-ng-model="vm.fromQuestion">-->
                                <input style="margin-top: 5px;margin-bottom: 5px" type="number" id="fromOfQuestions"  data-ng-model="vm.fromQuestion">

                                <label class="bold" for="toOfQuestions">
                                    To question
                                </label>
                                <input style="margin-top: 5px;margin-bottom: 5px" type="number" id="toOfQuestions" data-ng-model="vm.toQuestion" ng-change="vm.validateFromToQuestion()">

                                <br>
                                <label class="bold" for="numberConfig">
                                    The number of answers for each question
                                </label>
                                <input style="margin-top: 5px;margin-bottom: 5px" type="number" id="numberConfig" ng-model="vm.numberOfAnswers" ng-change="vm.createTempAnswers($index)">
                                <!--<button class="btn btn-primary" style="margin-top: 5px;margin-bottom: 5px" data-ng-click="vm.createTempAnswers($index)"><i class="fa fa-arrow-down"></i> Setting up Answers</button>-->
                                <div ng-repeat="c in vm.tempAnswers" style="margin-bottom:5px">
                                    <input class="form-control" type="text" data-ng-model="c.answer.answer">
                                </div>
                                <p><span class="font-red bold">WARNING: </span>The process of configuring Answer for each package will disappear if you click ' <span class="bold font-yellow"> Adding questions for Package </span>' => make sure your configuration is correct</p>
                                <button class="btn btn-warning " data-ng-click="vm.addQuestionForPassage3($index)"><i class="fa fa-arrow-down"></i> Adding Questions For package {{item.ordinalNumber}}</button>
                                <button class="btn btn-success" ng-click="vm.saveReadingTest()">SAVE</button>
                            </div>

                            <hr>
                            <div class="row">
                                <div class="col-md-12" ng-repeat="q in item.subQuestions" style="margin-top: 20px">

                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <h4 class="bold">Question {{q.ordinalNumber}}</h4>
                                            </div>
                                            <div class="col-md-10">
                                                <textarea ng-change="vm.changeInTheProcessOfCreatingReadingTest()" ui-tinymce="tinyConFigQuestion" ng-if="item.type == 2 || item.type == 3" class="form-control margin-bottom-10" rows="2"  data-ng-model="q.question"/>
                                                <textarea ng-change="vm.changeInTheProcessOfCreatingReadingTest()" class="form-control margin-bottom-10" rows="2"  data-ng-model="q.question"/>
                                                <small style="font-style: italic;font-weight: bold">(tick 'v' where it is the correct answer)</small>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col-md-12" ng-repeat="a in q.questionAnswers | orderBy: 'ordinalNumberQuestionAnswer'">
                                            <div class="row">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-2">
                                                    <h4 class="bold">Answer {{a.ordinalNumberQuestionAnswer}}</h4>
                                                </div>
                                                <div class="col-md-7">
                                                    <textarea ng-change="vm.changeInTheProcessOfCreatingReadingTest()"  class="form-control margin-bottom-5" rows="2"  data-ng-model="a.answer.answer"/>
                                                </div>
                                                <div class="col-md-1">
                                                    <input ng-change="vm.changeInTheProcessOfCreatingReadingTest()"  type="checkbox"  id="defaultCheck1" data-ng-model="a.correct">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>

                                </div>
                            </div>

                        </div>
                        <div class="col-md-12 margin-bottom-10" ng-show="vm.createPackage == true">
                            <hr>
                            <div class="col-md-12">
                                <button class="btn btn-success" ng-click="vm.saveReadingTest()">SAVE</button>
                                <button  class="btn btn-info" style="margin-left: 50px" data-ng-click="vm.addPackageForPassage3()"><i class="fa fa-arrow-down"></i> Adding Packages for passage 3</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>



</div>


<script type="text/ng-template" id="result_modal.html">
    <div modal-movable>
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="fa fa-check"></i>Đáp án</h4>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
            <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Không</button>
            <button type="button" ng-click="$close('yes')" class="btn btn-primary" data-dismiss="modal">Có</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="confirm_delete_modal.html">
    <div modal-movable>
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="icon-question"></i>Xóa</h4>
        </div>
        <div class="modal-body">
            <p>Bạn có chắc chắn muốn xóa bản ghi đã chọn không?</p>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Không</button>
            <button type="button" ng-click="$close('yes')" class="btn btn-primary" data-dismiss="modal">Có</button>
        </div>
    </div>
</script>

<style>
    .dx-htmleditor-content img {
        vertical-align: middle;
        padding-right: 10px;
    }

    .dx-htmleditor-content table {
        width: 50%;
    }

    .options {
        padding: 20px;
        background-color: rgba(191, 191, 191, 0.15);
        margin-top: 20px;
    }

    .caption {
        font-size: 18px;
        font-weight: 500;
    }

    .option {
        margin-top: 10px;
    }

</style>

<!-- BEGIN MAIN JS -->