<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-graduation-cap"></i>
                <span class="smaller">Sample menu #1</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-graduation-cap"></i>
                <span class="smaller">Sample menu #2</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-graduation-cap"></i>
                <span class="smaller">Sample menu #3</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-graduation-cap"></i>
                <span class="smaller">Sample menu #4</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-graduation-cap"></i>
                <span class="smaller">Sample menu #5</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-graduation-cap"></i>
                <span class="smaller">Sample menu #6</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-graduation-cap"></i>
                <span class="smaller">Sample menu #7</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#" class="inner">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-graduation-cap"></i>
                <span class="smaller">Sample menu #8</span>
            </a>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->