<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/dashboard/edu">
                <i class="fa fa-university"></i>
                <i class="fa fa-university"></i>
                <span>Sample #1</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/dashboard/students">
                <i class="fa fa-graduation-cap"></i>
                <i class="fa fa-graduation-cap"></i>
                <span>Sample #2</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/dashboard/exam">
                <i class="fa fa-certificate"></i>
                <i class="fa fa-certificate"></i>
                <span>Sample #3</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/dashboard/hr">
                <i class="icon-people"></i>
                <i class="icon-people"></i>
                <span>Sample #4</span>
            </a>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->