<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row margin-top-10">
    <div class="col-md-12">
    
        <div class="portlet light bordered">
            <div class="portlet-body">
                <!--<div class="btn-group pull-left margin-top-10 margin-bottom-10">-->
                    <!---->

                    <!--&lt;!&ndash;<div class="col-md-12">&ndash;&gt;-->
                        <!--&lt;!&ndash;<label class="bold">Chương trình</label>&ndash;&gt;-->

                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</div>-->
                <div class="row">
                    <div class="col-md-1 margin-left-10">
                        <button class="btn btn-default" data-ng-click="vm.newObject()"><i class="fa fa-plus-circle"></i>Thêm mới</button>
                    </div>
                    <div class="col-md-3">
                        <ui-select ng-model="vm.searchDto.educationProgram"
                                   data-ng-change="vm.getPage()"
                                   close-on-select="true" style="witdth: 100% !important;">
                            <ui-select-match allow-clear="true" placeholder="Chọn lớp để lọc">
                                {{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices repeat="cls in vm.educationPrograms | propsFilter:{name:$select.search}">
                                <div ng-bind-html="cls.name | highlight:$select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <table id="bsTableControl" bs-table-control="vm.bsTableControl"></table>
            </div>
        </div>
    </div>
</div>

<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script type="text/ng-template" id="edit_object_modal.html">
    <div modal-movable>
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"></button>
            <h4 class="modal-title" data-ng-if="vm.mark.isNew == true"><i class="icon-plus"></i>Thêm tôn giáo</h4>
            <h4 class="modal-title" data-ng-if="vm.mark.isNew == false"><i class="fa fa-pencil-square-o"></i>Cập nhật tôn giáo</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <label class="bold">Tên</label>
                    <input data-ng-model="vm.mark.name" type="text" autofocus="autofocus" class="form-control" />
                </div>
                <div class="col-md-12">
                    <label class="bold">Mã</label>
                    <input data-ng-model="vm.mark.code" type="text" autofocus="autofocus" class="form-control" />
                </div>
                <!--<div class="col-md-12">-->
                    <!--<label class="bold">Điểm số</label>-->
                    <!--<input data-ng-model="vm.mark.markNumber" type="text" autofocus="autofocus" class="form-control" />-->
                <!--</div>-->

                <!--<div class="col-md-12">-->
                    <!--<label class="bold">Điểm chữ</label>-->
                    <!--<input data-ng-model="vm.mark.markText" type="text" autofocus="autofocus" class="form-control" />-->
                <!--</div>-->

                <div class="col-md-12">
                    <label class="bold">Hệ số</label>
                    <input data-ng-model="vm.mark.coefficient" type="text" autofocus="autofocus" class="form-control" />
                </div>

                <div class="col-md-12">
                    <label class="bold">Chương trình</label>
                    <ui-select ng-model="vm.mark.educationProgram"
                               close-on-select="true">
                        <ui-select-match allow-clear="true" placeholder="Chọn lớp để lọc">
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="cls in vm.educationPrograms | propsFilter:{name:$select.search}">
                            <div ng-bind-html="cls.name | highlight:$select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>


            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
            <button type="button" ng-click="vm.saveObject()" class="btn btn-primary">Lưu</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="confirm_delete_modal.html">
    <div modal-movable>
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="icon-question"></i>Xóa</h4>
        </div>
        <div class="modal-body">
            <p>Bạn có chắc chắn muốn xóa bản ghi đã chọn không?</p>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Không</button>
            <button type="button" ng-click="$close('yes')" class="btn btn-primary" data-dismiss="modal">Có</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="import_modal.html">
    <div modal-movable>
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"></button>
            <h4 class="modal-title bold font-yellow-gold"><i class="fa fa-cloud-upload"></i> Thêm môn học vào chương trình đào tạo</h4>
        </div>
        <div class="modal-body">
            <div class="box-body box-profile">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <a class="dash-box display-block link" ngf-select="uploadFiles($file, $invalidFiles)"
                               accept="/*" ngf-max-size="{{MAX_FILE_SIZE}}"><i class="fa fa-cloud-upload"></i> Chọn tệp tin để tải lên</a>
                        </div>

                        <div class="col-md-12 margin-top-20" ng-if="f != null">
                            Tải tệp tin: {{f.name}}
                        </div>

                        <div class="col-md-12 margin-top-20" ng-if="errFile != null && errFile.$error != ''">
                            Có lỗi: <span ng-if="errFile.$error == 'maxSize'">Kích thước tệp tin phải nhỏ hơn {{errFile.$errorParam}}</span>
                            <span ng-if="errFile.$error != null && errFile.$error != 'maxSize'">Tệp tin {{errFile.name}} có lỗi. Xin mời chọn tệp tin khác.</span>
                        </div>

                        <div class="col-md-12 margin-top-20" ng-if="f.progress >= 0">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" ng-bind="f.progress + '%'" style="width:{{f.progress}}%">
                                    {{f.progress}}%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Hủy</button>
            <button type="button" ng-click="$close('yes')" class="btn btn-primary" data-dismiss="modal">Tải lên</button>
        </div>
    </div>
</script>
<!-- BEGIN MAIN JS -->