<!-- BEGIN MAIN CONTENT -->
<div class="row">
	<div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/user/groups" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Nhóm người dùng</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/user/accounts" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Người dùng</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/user/roles" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Vai trò</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/user/permissions" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Phân quyền</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/settings" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Thiết lập hệ thống</span>
            </a>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->