<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/projects" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh sách dự án</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/projecttasks" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Quản lý dự án</span>
            </a>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->