<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/document_field" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục lĩnh vực văn bản</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/document_priority" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục mức độ ưu tiên</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/document_security_level" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục mức độ mật văn bản</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/document_type" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục loại văn bản</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/task_floư" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục quy trình xử lý văn bản</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/positiontitle" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục chức vụ</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/civilservantgrade/civilservantgrade-system" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục cấp bậc công chức</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/civilservantcategory/civilservantcategory-system" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục loại công chức</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/department" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục phòng ban</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/religion" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục tôn giáo</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/organization" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục cơ quan đơn vị</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/educationdegree" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục bằng cấp</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/academictitle" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục học hàm học vị</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/shiftwork" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục ca làm việc</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/overtimetype" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục làm việc ngoài giờ</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/specialityadmissionsmap" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh mục cấu hình mã ngành tuyển sinh/span>
            </a>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->