<!-- BEGIN MAIN CONTENT -->
<div class="row">
	<div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/policies-regulations" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Quy chế - quy định</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/collaboration-processes" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Quy trình phối hợp</span>
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 margin-top-10">
        <div class="dash-let">
            <a href="#/template" class="inner">
                <i class="icon-layers"></i>
                <i class="icon-layers"></i>
                <span class="smaller">Danh sách biểu mẫu</span>
            </a>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->