<div class="page-wrapper" >
    <div class="page-wrapper-row">
        <div class="page-wrapper-top">
            <!-- BEGIN HEADER -->
            <div data-ng-include="'common/views/navs/header-hoz-for-login.html'" data-ng-controller="HeaderController" class="page-header"> </div>
            <!-- END HEADER -->
        </div>
    </div>
    <div class="page-wrapper-row full-height" >
        <div class="page-wrapper-middle" >
            <!-- BEGIN CONTAINER -->
            <div class="page-container" style="width: 98%;margin: auto">
                <!-- BEGIN PAGE HEAD -->
                <div data-ng-include="'common/views/navs/page-head.html'" data-ng-controller="PageHeadController" class="page-head"> </div>
                <!-- END PAGE HEAD -->
                <!-- BEGIN PAGE CONTENT -->
                <div class="page-content">
                    <div class="container">
                        <!-- BEGIN ACTUAL CONTENT -->
                        <div ui-view class="fade-in-up">
                            <div class="portlet light bordered" >
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="col-md-2 not-for-media text-center">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img class="side-image" src="assets/images/1a.png">
                                                </div>
                                                <div class="col-md-12">
                                                    <img class="side-image" src="assets/images/1b.png">
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div ng-show="settings.chapter == true" class="col-md-8 text-center center-content">-->
                                            <!--<div class="col-md-12">-->
                                                <!--<img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/AP1GczMLcJDNx5Ei9CG9mDKYGuPYhTFMx_9y_Eo7mgOZOi3SVBf1AiHlhdVWhOnfBL4nOyJ6qtVFqW0oorT7t__S0MaHGHhMrSN_pGFj_eNLKacHrQQADohze72zHN94GRlsR7UATM0FQnzlJkPQbYHuh3Uc=w1634-h919-s-no-gm?authuser=1">-->
                                            <!--</div>-->
                                            <!--<div class="col-md-12">-->
                                                <!--<img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/AP1GczNQbpV7ore0Ctd1wvcrLV2yeK3PvYfcWlweAdlDg3zeY3y4FM_Pw2oZGMG1UUMD0zGdECw-4WrVC6DBfUHsdAJOlH61HIEy5F39rUEF5B2x_ERx56QvfI3Na4fsE5qas2tZpd-DQG0-XoBBTi3wcvzw=w1683-h623-s-no-gm?authuser=1">-->
                                            <!--</div>-->
                                            <!--<div class="col-md-12">-->
                                                <!--img src="assets/images/xu-doan-2022/1.jpg-->
                                                <!--mình có tổng cộng 89 ảnh-->
                                            <!--</div>-->

                                            <!--<div class="col-md-12">-->
                                                <!--<img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/AP1GczOW_plo9T12GhNAEZDdI7dbRrA6TV2SH82xszXXhfMZWjRaMBNcK_B7sEnSbkEh5DhJJboWQlT_bL0sjGEnDqkFEC5bkvRFMqCjN6MD56-ADCUMGtGY-GmS9WTuVhC0GGbTMn96yIgCsecT6n2GNRsP=w1225-h919-s-no-gm?authuser=1">-->
                                            <!--</div>-->
                                            <!--<div class="col-md-12">-->
                                                <!--<img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/AP1GczM0GEOpVe0zKJkel3z2wSvE2O1HOZ9qhwfxsiKtOiPXsihMxCSGiqckuqE48NLZ73hWIUcPvSv9gyy1ZpjxYg5JT5uEkwIREwcjVNf2SvAn2ONOWHoB-KllmQWoIDF2gUmh51WpGVhI9FGus8uU29CR=w1380-h919-s-no-gm?authuser=1">-->
                                            <!--</div>-->
                                            <!--<div class="col-md-12">-->
                                                <!--<img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/AP1GczMIYHxnNF3zeSgLn9QpZJ2Ock3AnKi2DIJt9dSwXqEudMD04IQfF-LRwXT-Seqo8Rq6i28kfh_vHUGAMaxK8V4vJvYRVo_J6GKxla3PfOS9UnfL-wmnC5imki7a2xNSBqv1qt9AKxt87wZEc15RdGCX=w1225-h919-s-no-gm?authuser=1">-->
                                            <!--</div>-->
                                            <!--<div class="col-md-12">-->
                                                <!--<img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/AP1GczNW25L4njU9w603E6UBfqWkq0Qaor4rcABESA7r-HBVlZn_xrB0YmKp5CaElfvmWWe3XSvocntxPW63mFypHwbXyPEMg5GiMbmVH7IpU6Y_kozshKjVk9Dnyeyy9qS3TK7Bp3Ic5MC4uBuGlBKWMPS9=w1920-h919-s-no-gm?authuser=1">-->
                                            <!--</div>-->
                                            <!--<div class="col-md-12">-->
                                                <!--<img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/AP1GczO9r7EibUypDIx55C7Bbh-oV6625uWjT6TesYc3BoSe1tJvyR-vn3SoONdyRsZLusxf9PsHBlwzvEeS6QugdcnikXeP6qS6s_n465W7vxzuTegzK-_i4yCEghSY6Z68DNwg-iJUM1h6oc-CPq-r6qhc=w1382-h919-s-no-gm?authuser=1">-->
                                            <!--</div>-->
                                            <!--<div class="col-md-12">-->
                                                <!--<img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/AP1GczNHmcGIdWsvFhctM9tMwQzpSHVWxKATALDjVX7pBgtZQV5GDR-SYVi1zqJ0JBuw2M85lIh9eLAG647DyQwlBCoreydZ7ueLQbzKfmtenn5bPT40g02_0GGYOzF96aqBwbMXCqlpQAHNZJYB-tjci89i=w1225-h919-s-no-gm?authuser=1">-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <div ng-show="settings.chapter == true" class="col-md-8 center-content xu-doan-gallery-wrap">

                                            <!-- 2 ảnh banner đầu -->
                                            <div class="xu-banner">
                                                <img class="xu-banner-img"
                                                     loading="lazy"
                                                     src="https://lh3.googleusercontent.com/pw/AP1GczMLcJDNx5Ei9CG9mDKYGuPYhTFMx_9y_Eo7mgOZOi3SVBf1AiHlhdVWhOnfBL4nOyJ6qtVFqW0oorT7t__S0MaHGHhMrSN_pGFj_eNLKacHrQQADohze72zHN94GRlsR7UATM0FQnzlJkPQbYHuh3Uc=w1634-h919-s-no-gm?authuser=1">
                                            </div>

                                            <div class="xu-banner">
                                                <img class="xu-banner-img"
                                                     loading="lazy"
                                                     src="https://lh3.googleusercontent.com/pw/AP1GczPGaeihajxEfHOumnGNyNy43Fa-ES4vGBObEMc-jVfoMGt3DIQxpeuKpz1AFJFF8_YeKEvkGva1Kqi98XCdyhGAKgzQ4Ovm9eiTihbEnnVjLYY2icm8I-qMx0dum7CXEC8oCeTVve-k1wjBWjD2zn2g=w1634-h919-s-no-gm?authuser=1">
                                            </div>

                                            <!-- tiêu đề -->
                                            <div class="xu-gallery-header">
                                                <div class="xu-gallery-title">
                                                    📸 Hình ảnh Xứ Đoàn 2022
                                                </div>

                                                <div class="xu-gallery-subtitle">
                                                    Tổng cộng <span>89</span> khoảnh khắc đáng nhớ
                                                </div>
                                            </div>

                                            <!-- gallery 89 ảnh -->
                                            <div class="xu-gallery-grid">
                                                <div class="xu-gallery-item"
                                                     ng-repeat="img in vm.xuDoanImages track by $index">
                                                    <div class="xu-gallery-card"
                                                         ng-click="selectedGalleryImage = img.src">
                                                        <img class="xu-gallery-img"
                                                             loading="lazy"
                                                             ng-src="{{img.src}}"
                                                             alt="Xu đoàn 2022 - {{img.index}}">
                                                        <!--<div class="xu-gallery-overlay">-->
                                                            <!--<span>Ảnh {{img.index}}</span>-->
                                                        <!--</div>-->
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12">
                                                <img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/AP1GczOW_plo9T12GhNAEZDdI7dbRrA6TV2SH82xszXXhfMZWjRaMBNcK_B7sEnSbkEh5DhJJboWQlT_bL0sjGEnDqkFEC5bkvRFMqCjN6MD56-ADCUMGtGY-GmS9WTuVhC0GGbTMn96yIgCsecT6n2GNRsP=w1225-h919-s-no-gm?authuser=1">
                                            </div>
                                            <div class="col-md-12">
                                                <img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/AP1GczM0GEOpVe0zKJkel3z2wSvE2O1HOZ9qhwfxsiKtOiPXsihMxCSGiqckuqE48NLZ73hWIUcPvSv9gyy1ZpjxYg5JT5uEkwIREwcjVNf2SvAn2ONOWHoB-KllmQWoIDF2gUmh51WpGVhI9FGus8uU29CR=w1380-h919-s-no-gm?authuser=1">
                                            </div>
                                            <div class="col-md-12">
                                                <img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/AP1GczMIYHxnNF3zeSgLn9QpZJ2Ock3AnKi2DIJt9dSwXqEudMD04IQfF-LRwXT-Seqo8Rq6i28kfh_vHUGAMaxK8V4vJvYRVo_J6GKxla3PfOS9UnfL-wmnC5imki7a2xNSBqv1qt9AKxt87wZEc15RdGCX=w1225-h919-s-no-gm?authuser=1">
                                            </div>
                                            <div class="col-md-12">
                                                <img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/AP1GczNW25L4njU9w603E6UBfqWkq0Qaor4rcABESA7r-HBVlZn_xrB0YmKp5CaElfvmWWe3XSvocntxPW63mFypHwbXyPEMg5GiMbmVH7IpU6Y_kozshKjVk9Dnyeyy9qS3TK7Bp3Ic5MC4uBuGlBKWMPS9=w1920-h919-s-no-gm?authuser=1">
                                            </div>
                                            <div class="col-md-12">
                                                <img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/AP1GczO9r7EibUypDIx55C7Bbh-oV6625uWjT6TesYc3BoSe1tJvyR-vn3SoONdyRsZLusxf9PsHBlwzvEeS6QugdcnikXeP6qS6s_n465W7vxzuTegzK-_i4yCEghSY6Z68DNwg-iJUM1h6oc-CPq-r6qhc=w1382-h919-s-no-gm?authuser=1">
                                            </div>
                                            <div class="col-md-12">
                                                <img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/AP1GczNHmcGIdWsvFhctM9tMwQzpSHVWxKATALDjVX7pBgtZQV5GDR-SYVi1zqJ0JBuw2M85lIh9eLAG647DyQwlBCoreydZ7ueLQbzKfmtenn5bPT40g02_0GGYOzF96aqBwbMXCqlpQAHNZJYB-tjci89i=w1225-h919-s-no-gm?authuser=1">
                                            </div>

                                        </div>

                                        <div ng-show="settings.ieltsRoom == true" class="col-md-8 text-center center-content">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/AP1GczNi25SwEpEnpaEtZAAQxL166VDB1v7Z6CqxUOelMwtD98YpZ21MVbEeWbCAkMYJCUFzDJxqC8ysf_z-SWIJagEik9ormlUOUyrn0h7pE2JaKuFPXKVxNF_pZNAsG22NIGtPMIeRpwCHTNSfAj3fCPxL=w425-h919-s-no-gm?authuser=1">
                                                </div>
                                                <div class="col-md-4">
                                                    <img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/AP1GczO_YGH8KeQVQWl5zDNtZCX59ugP01H4p9n67AukgI_Rj0n7yogO33wASdLd1s11ramArHjBzK-pqdxdRQHcrOQU1MUF4J5k26984iSOmSW7t9mEs8_lXUCchHu62Fp3FLy1dqLPCCLq8CEUbyTlFHpx=w424-h918-s-no-gm?authuser=1">
                                                </div>
                                                <div class="col-md-4">
                                                    <img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/AP1GczPqguxJnwGuJ4o20PnyFOGmmCIg3-hwhnQ_erx-JS1W3jRxz6_AAbVSN_gwigo1-wy6c87KGiiZyz4zVydTOAJTEk0DHevMvr-BSMalE67cXlKxIKBz6lRCVFzM9HDjCFg_mB_t-e0-ok9DZ1dPjhru=w425-h919-s-no-gm?authuser=1">
                                                </div>
                                            </div>
                                            <!--<img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/AP1GczN-OfRmSWgKnrKZbBURvdnx7zf6-iV_6Q4B7ApquOBMYDLfxdWM_048KOaltJT4UU0OHx94spjiMigq3gpmzDPnOT9ol5MSkKEAYWpavpBEg9blF4V7zieMxqypQ-k8j9KX0Y-YzQnmkcf4mRhO1zRN=w1280-h720-s-no-gm?authuser=1">-->
                                            <h1 class="col-md-12 text-center bold">
                                                <a href="https://www.facebook.com/saint.paul.academy.pk" target="_blank"><i class="fa fa-arrow-right"></i> FACEBOOK <i class="fa fa-arrow-left"></i></a>
                                            </h1>
                                            <!--<img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/AP1GczNTP20dYzQXqABodlsnYR4EaMfi-PhhiFmgk5_-TTI-QF8yteJdOsRsHo6qQ8TaL5MfImDjb7P9o7XcXyKajiCYExhqQ06PJB_bofMnR06pzAFoxywOCUp3oGkTs7MWq5pFkQsryw0JW-fPGOzRr1WO=w1280-h720-s-no-gm?authuser=1">-->
                                            <img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/AP1GczOjgxKslkrfmkG3USmEz6NEbVafgLS07BYDsl9jHuzCgXzqOPyc5keQ16qZLB3r3qXB4_zL956BI3X3aWi0-suNSgt6o53J48OSOEoCxEfQKmBzVY3jqsaDVb5gMyGC9hQvlcYMHZ5DY_egjZpeqptC=w960-h617-s-no-gm?authuser=1">
                                            <!--<h1 class="col-md-12 text-center bold">-->
                                                <!--PHỔ THÔNG CÁC CẤP-->
                                            <!--</h1>-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/AP1GczP5K8zbdu5YhGUaQRID75ubwqbc_MOvn19RavUdCIEnskmhB-UJR_wFVLhBsLjk5kvzTUcKCq0Yi5aYJDSMcpSGFQrPddNxv6U5-VL227XGSnET2QsJVN8b2uc1_Mhthzw56VvFHunk6AQYMaNlYdfk=w424-h918-s-no-gm?authuser=1">
                                                </div>
                                                <div class="col-md-6">
                                                    <img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/AP1GczO_YGH8KeQVQWl5zDNtZCX59ugP01H4p9n67AukgI_Rj0n7yogO33wASdLd1s11ramArHjBzK-pqdxdRQHcrOQU1MUF4J5k26984iSOmSW7t9mEs8_lXUCchHu62Fp3FLy1dqLPCCLq8CEUbyTlFHpx=w424-h918-s-no-gm?authuser=1">
                                                </div>
                                                <div class="col-md-4">
                                                    <img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/AP1GczOB1QhB1mafyMrdYK23-jXmozijk0YKMIea1d2W1MuEk2a6SJyBoCxgPoGEn5R3Fc_scbTRyHx2HdtUebZkJ-zTrmU5SwnImXB1_NV_yD8fi9tSda8H5T5lyKpJ2bnWlAoUUgsgTezRth7jnYWiCdM3=w521-h927-s-no-gm?authuser=1">
                                                </div>
                                                <div class="col-md-4">
                                                    <img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/AP1GczP7w3tywg7-6lS6MXZGS4bksnmOIpzcXbohek6kUfBrzPbP5XbLn4e8t-fx22IAH8cD4WibBf330A5adDWjKRTJmCVdUihhp5bfCQpD-qmKKndLQs-YT5n1IXDGJQOPaYLR-7OQdInr3li8PJJBcit_=w521-h927-s-no-gm?authuser=1">
                                                </div>
                                                <div class="col-md-4">
                                                    <img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/AP1GczO5ciH-queSJlz9SJIOUTdaCA6oGQyGIN2E0EZwS1-5qyutOXNigpQZI4JHENXZXI1L9enmhEplsJTkgklcOGHwyDUaDSP0hdRem4HejfpvEReqyKs0RnlIisKFEHqYq4OM_5WTSWTyjkF4atTsrL3c=w521-h927-s-no-gm?authuser=1">
                                                </div>
                                                <div class="col-md-4">
                                                    <img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/AP1GczNzV78OecOKdnLiGeQ7419RTi-zGJ2O5fd_IvZq6wuwCp4gG4mGptbAGrDSd4aON_sa2j3srydmlTAkih4mXG-W16GWMgNb_hSJGJjyDPCoeGOgB0J4dW8a_ey48KdF4BLQu6thI-k4DxOUIANsJozH=w521-h927-s-no-gm?authuser=1">
                                                </div>
                                                <div class="col-md-4">
                                                    <img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/AP1GczM4zkoY2cPG7epNewSnsN471l-EYnwm0xK20pna-ph-E1n4dU4tuRcvDEhKCv1Xo5aPp2iyihpHWY48nreDu7CYb-v3Hm2B_29VkZdWr3yTup586R5isx23ub6w1trWEOyRe0ZyKZHrYt382qhW8Zud=w521-h927-s-no-gm?authuser=1">
                                                </div>


                                                <div class="col-md-4">
                                                    <img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/ABLVV86BtTQxbYwi7bYMjGa6rfQ0MhFCdibX3MON3QJDoydz15BDCJ4wOb-DahsiIr5Hk_cnxXlZlpULKDN5v6U2mnAYx6O6Reu14UHpm54GGHQpFDUgqAPC1UbxV9gBeszuCDhmqFEmIyqqrAFPWxtLJ9E=w425-h919-s-no-gm?authuser=1">
                                                </div>
                                                <div class="col-md-4">
                                                    <img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/ABLVV85XDMxpTMJggLPyRQepDLvbGzkJNiyCGQ6aexysPC118yybKZ4Y0gvZnyPrNKW-u78T_UkAOpIEKsvgDQZMr4gslGheYEnw_K0RnmpE929ydSt_i-OwA3gzv1t-Y5anHGRZ2Bi9YAkmPUI7xYdE7uY=w425-h919-s-no-gm?authuser=1">
                                                </div>
                                                <div class="col-md-4">
                                                    <img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/ABLVV86uzKyCPb6ijU2j4zOwoU2Jz96noh-yAh0xMlskB_Wkts834tFq_-gDp-FlE9r4liqiUCH2s6sFJtBfhw7pl6zSdeFESKbWqw0N-j6hp3mUHdpYqP9tB1Psg4SEv1K22SD_9zqgVx-mM_W3mYeaPGU=w425-h919-s-no-gm?authuser=1">
                                                </div>

                                                <div class="col-md-4">
                                                    <img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/ABLVV84RyEtYruOGP_o-oz0AJxSw_E82L-1qt2I86v29cT0lmMEtw35kbL4lObG87g9ToJtme9DBRztIWAgM65Hh2dOq0hpAXHDV5pl1HX0QP3Cnpf93gBaVrhyB63DeAfH3uMGzQSIOEVzmkl2tFb7NpXE=w425-h919-s-no-gm?authuser=1">
                                                </div>
                                                <div class="col-md-4">
                                                    <img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/ABLVV87_hfNqG7LACqgt8Chh_IAj4JF6s6Z1mB5bozNK1FXpxONnvTHv9b5X3W8nzOgwGNSPCNlNN8NuGlB1ZWlAakgl0a2-HxyhRq9ITYESwvvGYg7Q0_dPp7iM18YVTqA05T8xapgLdQwIN6LAxZFrWhs=w425-h919-s-no-gm?authuser=1">
                                                </div>
                                                <div class="col-md-4">
                                                    <img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/ABLVV86UVYy9ZSIWCJJZjc-PZmID_3tCtBcTrGt79uhnpxIsuPEOcMh7Krq-uEGHpW3pyqEf9HwwK3z2_LSE6iutolNi-2khIgREP3v5vFnXuEGa-7GT_84zPcauUr_xCZT7KHJJd6DbqsNfhYs--Po_6sU=w624-h600-s-no-gm?authuser=1">
                                                </div>
                                                <div class="col-md-4">
                                                    <img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/ABLVV86FmPs6JkaXj5BQrOgVM_k9fxBDzI_JujPrJfu7ua30bYyyqY-3Hmq7ITCQS5dqOlTWGeZd1vsMWJwj6IQ7GfcoAzRmQZzBr1eUK30luDmo9ZEFjgEKPr21-GE2OKg7dbJn3Hvl9iTaSjGmnFoUPLs=w617-h636-s-no-gm?authuser=1">
                                                </div>
                                                <div class="col-md-4">
                                                    <img class="" style="width:100%;padding: 5px;" src="https://lh3.googleusercontent.com/pw/ABLVV85ojX-7_WdaBz1C7ztF1Scm9WgkU8eQZBxbQ0E8cUTzZCL_NThQUMbMAGEv3trbx_0--yZ_03qQ8lSUTnxFWUjdcFQxPy2ytYL4Dpu7mtG0JI-0yS5YCxcog6TcOdh8usYMP4EHKtWXkZO6Hqy0_Pc=w1242-h804-s-no-gm?authuser=1">
                                                </div>
                                            </div>




                                            <!--<img class="" style="height: auto; width: 100%; padding: 20px" src="assets/images/home_page.png">-->
                                            <!--<img class="" style="height: auto; width: 100%; padding: 20px" src="assets/images/home_page2.gif">-->
                                            <!--<video class="" style="height: auto; width: 100%;padding: 20px"  autoplay="autoplay" loop="loop" muted defaultMuted playsinline  oncontextmenu="return false;"  preload="auto"  >-->
                                                <!--<source id="vid" type="video/mp4" src="music/cover-gift.mp4"/>-->
                                            <!--</video>-->
                                        </div>
                                        <div class="col-md-2 not-for-media text-center">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <img class="side-image" src="assets/images/2a.png">
                                                </div>
                                                <div class="col-md-12">
                                                    <img class="side-image" src="assets/images/2b.png">
                                                </div>
                                            </div>


                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- END ACTUAL CONTENT -->
                    </div>
                </div>
                <!-- END PAGE CONTENT -->
                <!-- BEGIN QUICK SIDEBAR -->
                <a href="javascript:;" class="page-quick-sidebar-toggler">
                    <i class="icon-login"></i>
                </a>
                <div data-ng-include="'common/views/navs/quick-sidebar.html'" data-ng-controller="QuickSidebarController" class="page-quick-sidebar-wrapper"></div>
                <!-- END QUICK SIDEBAR -->
            </div>
            <!-- END CONTAINER -->
        </div>
    </div>
    <div class="page-wrapper-row">
        <div class="page-wrapper-bottom">
            <!-- BEGIN FOOTER -->
            <div data-ng-include="'common/views/navs/footer-hoz.html'" data-ng-controller="FooterController"> </div>
            <!-- END FOOTER -->
        </div>
    </div>
</div>
<div class="xu-lightbox-backdrop"
     ng-if="selectedGalleryImage"
     ng-click="selectedGalleryImage = null">

    <div class="xu-lightbox-content"
         ng-click="$event.stopPropagation()">

        <button type="button"
                class="xu-lightbox-close"
                ng-click="selectedGalleryImage = null">
            ×
        </button>

        <img class="xu-lightbox-img"
             ng-src="{{selectedGalleryImage}}"
             alt="preview">
    </div>
</div>
<script>
//    document.getElementById('vid').play;
</script>


<style>
    .for-media {
        display: none;
    }



    @media (max-width: 996px) {
        .for-media {
            display: block;
        }

        .not-for-media{
            display: none;
        }

    }

    .side-image{
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        height: auto; width: 100%; margin-bottom: 20px
    }

    .shadow {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .center-content{

        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    /*.logo {*/
        /*background: #EAE5E1;*/
    /*}*/
    /*.content{*/
        /*background: #EAE5E1;*/
    /*}*/

    .img-slide{
        margin-left: auto;
        margin-right: auto;
    }
</style>
<style>
    .for-media {
        display: none;
    }

    @media (max-width: 996px) {
        .for-media {
            display: block;
        }

        .not-for-media {
            display: none;
        }
    }

    .side-image {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        height: auto;
        width: 100%;
        margin-bottom: 20px;
        display: block;
        border-radius: 12px;
    }

    .shadow {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .center-content {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        background: #fff;
        border-radius: 18px;
        padding: 12px;
    }

    .img-slide {
        margin-left: auto;
        margin-right: auto;
    }

    /* ===== Xứ đoàn gallery ===== */
    .xu-doan-gallery-wrap {
        padding-top: 10px;
        padding-bottom: 15px;
    }

    .xu-banner {
        margin-bottom: 12px;
    }

    .xu-banner-img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 16px;
        box-shadow: rgba(17, 17, 26, 0.08) 0px 4px 16px,
        rgba(17, 17, 26, 0.08) 0px 8px 24px;
    }

    .xu-gallery-header{
        text-align:center;
        padding:30px 10px 25px 10px;
    }

    .xu-gallery-title{
        font-size:34px;
        font-weight:700;
        color:#2c3e50;
        margin-bottom:8px;
        font-family: "Be Vietnam Pro", sans-serif;
    }

    .xu-gallery-subtitle{
        font-size:16px;
        color:#7f8c8d;
        font-weight:500;
    }

    .xu-gallery-subtitle span{
        color:#e67e22;
        font-weight:700;
    }

    .xu-gallery-grid {
        display: flex;
        flex-wrap: wrap;
        margin-left: -8px;
        margin-right: -8px;
    }

    .xu-gallery-item {
        width: 50%;
        padding: 8px;
    }

    .xu-gallery-card {
        position: relative;
        overflow: hidden;
        border-radius: 16px;
        background: #f8f8f8;
        box-shadow: rgba(17, 17, 26, 0.08) 0px 4px 16px;
        cursor: pointer;
        transition: transform 0.25s ease, box-shadow 0.25s ease;
    }

    .xu-gallery-card:hover {
        transform: translateY(-4px);
        box-shadow: rgba(17, 17, 26, 0.14) 0px 8px 24px;
    }

    .xu-gallery-img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 16px;
    }

    .xu-gallery-overlay {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 14px 12px 10px 12px;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
        text-align: left;
        background: linear-gradient(to top, rgba(0,0,0,0.55), rgba(0,0,0,0));
        opacity: 0;
        transition: opacity 0.25s ease;
        pointer-events: none;
    }

    .xu-gallery-card:hover .xu-gallery-overlay {
        opacity: 1;
    }

    /* ===== Lightbox ===== */
    .xu-lightbox-backdrop {
        position: fixed;
        z-index: 99999;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.88);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .xu-lightbox-content {
        position: relative;
        max-width: 96vw;
        max-height: 96vh;
    }

    .xu-lightbox-img {
        max-width: 96vw;
        max-height: 92vh;
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: rgba(255, 255, 255, 0.08) 0px 0px 0px 1px;
    }

    .xu-lightbox-close {
        position: absolute;
        top: -12px;
        right: -12px;
        width: 42px;
        height: 42px;
        border: none;
        border-radius: 50%;
        background: #fff;
        color: #111;
        font-size: 28px;
        line-height: 42px;
        text-align: center;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 6px 18px;
        padding: 0;
    }

    /* ===== Responsive ===== */
    @media (max-width: 1199px) {
        .xu-gallery-title {
            font-size: 24px;
        }
    }

    @media (max-width: 991px) {
        .center-content {
            padding: 10px;
            border-radius: 14px;
        }

        .xu-gallery-item {
            width: 50%;
            padding: 6px;
        }

        .xu-banner-img,
        .xu-gallery-card,
        .xu-gallery-img {
            border-radius: 14px;
        }
    }

    @media (max-width: 767px) {
        .page-container {
            width: 100% !important;
            padding-left: 8px;
            padding-right: 8px;
        }

        .page-content .container {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }

        .xu-gallery-title {
            font-size: 22px;
        }

        .xu-gallery-subtitle {
            font-size: 14px;
        }

        .xu-gallery-item {
            width: 100%;
            padding: 6px 0;
        }

        .xu-gallery-grid {
            margin-left: 0;
            margin-right: 0;
        }

        .xu-gallery-overlay {
            opacity: 1;
            font-size: 13px;
        }

        .xu-lightbox-backdrop {
            padding: 10px;
        }

        .xu-lightbox-img {
            max-width: 100%;
            max-height: 85vh;
            border-radius: 10px;
        }

        .xu-lightbox-close {
            top: -10px;
            right: -2px;
            width: 38px;
            height: 38px;
            line-height: 38px;
            font-size: 24px;
        }
    }
</style>