<nav id="navscroll" class="navbar navbar-default learning-public-nav">
<!--<nav id="bottom" class="navbar navbar-default navbar-fixed-top">-->
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <button type="button"
                    class="public-mobile-theme-toggle"
                    onclick="(function(){var w=window,d=document,k='ieltsroom.globalDarkMode';if(w.IeltsRoomTheme&&typeof w.IeltsRoomTheme.toggle==='function'){w.IeltsRoomTheme.toggle();return;}if(typeof w.toggleGlobalDarkMode==='function'){w.toggleGlobalDarkMode();return;}var r=d.documentElement,b=d.body,on=!r.classList.contains('global-dark-mode');if(on){r.classList.add('global-dark-mode');if(b){b.classList.add('global-dark-mode');}}else{r.classList.remove('global-dark-mode');if(b){b.classList.remove('global-dark-mode');}}try{w.localStorage.setItem(k,on?'true':'false');}catch(e){}})(); return false;"
                    title="Chuyển Light / Dark mode"
                    aria-label="Chuyển Light / Dark mode">
                <span class="public-theme-icon public-theme-icon-moon" aria-hidden="true">☾</span>
                <span class="public-theme-icon public-theme-icon-sun" aria-hidden="true">☀</span>
            </button>


            <!--<a class="navbar-brand" id="church-title" href="dashboards"> SAINT PAUL ACADEMY</a>-->
            <a ng-if="settings.ieltsRoom == true"
               class="navbar-brand learning-public-brand"
               id="church-title"
               href="dashboards">
                <span class="learning-public-brand-icon">
                    <i class="fa fa-graduation-cap"></i>
                </span>
                <span class="learning-public-brand-text">SAINT PAUL ACADEMY</span>
            </a>
            <a ng-if="settings.chapter == true"
               class="navbar-brand learning-public-brand"
               id="church-title"
               href="dashboards">
                <span class="learning-public-brand-icon">
                    <i class="fa fa-book"></i>
                </span>
                <span class="learning-public-brand-text">Chapter</span>
            </a>
            <!--<a class="icon-for-media" target="_blank" href="fb://page/?id=105689154802913"><i class="fa fa-facebook-square " aria-hidden="true"></i></a>-->

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!--<ul class="nav navbar-nav ">-->
                <!--&lt;!&ndash;<li class="dropdown">&ndash;&gt;-->
                    <!--&lt;!&ndash;<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vocabulary <span class="caret"></span></a>&ndash;&gt;-->
                    <!--&lt;!&ndash;<ul class="dropdown-menu">&ndash;&gt;-->
                        <!--&lt;!&ndash;<li><a href="question/3"><i class="fa fa-caret-right"></i>FLASHCARDS</a></li>&ndash;&gt;-->
                    <!--&lt;!&ndash;</ul>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--<li class="dropdown">-->
                    <!--<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TEST ROOM <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li>-->
                            <!--<a  href="create_ielts_reading_test">-->
                                <!--<i class="fa fa-caret-right"></i> IELTS Reading Test-->
                            <!--</a>-->
                        <!--</li>-->

                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->


            <!--<ul class="nav navbar-nav for-media learning-mobile-login">-->
                <!--<li class="dropdown">-->
                    <!--<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">-->
                        <!--LOGIN-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->

            <ul class="nav navbar-nav for-media learning-mobile-login">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <input on-key-press="vm.login()" when-key-code="13" class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Tên đăng nhập" id="username" data-ng-model="vm.user.username" autofocus />
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav for-media learning-mobile-login learning-mobile-login-action">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <input on-key-press="vm.login()" when-key-code="13" class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Mật khẩu" id="password" data-ng-model="vm.user.password" />
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav for-media">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="ta hrefria-expanded="false">
                        <button type="button" data-ng-click="vm.login()" class="btn green uppercase learning-login-submit"><i class="fa fa-sign-in"></i><span>Đăng nhập</span></button>
                    </a>
                </li>
            </ul>



            <ul class="nav navbar-nav navbar-right not-for-media learning-desktop-login">
                <li class="public-desktop-theme-toggle-item">
                    <button type="button"
                            class="public-desktop-theme-toggle"
                            onclick="(function(){var w=window,d=document,k='ieltsroom.globalDarkMode';if(w.IeltsRoomTheme&&typeof w.IeltsRoomTheme.toggle==='function'){w.IeltsRoomTheme.toggle();return;}if(typeof w.toggleGlobalDarkMode==='function'){w.toggleGlobalDarkMode();return;}var r=d.documentElement,b=d.body,on=!r.classList.contains('global-dark-mode');if(on){r.classList.add('global-dark-mode');if(b){b.classList.add('global-dark-mode');}}else{r.classList.remove('global-dark-mode');if(b){b.classList.remove('global-dark-mode');}}try{w.localStorage.setItem(k,on?'true':'false');}catch(e){}})(); return false;"
                            title="Chuyển Light / Dark mode"
                            aria-label="Chuyển Light / Dark mode">
                        <span class="public-theme-icon public-theme-icon-moon" aria-hidden="true">☾</span>
                        <span class="public-theme-icon public-theme-icon-sun" aria-hidden="true">☀</span>
                    </button>
                </li>

                <li  class="menu-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i> LOGIN <span class="caret"></span></a>
                    <ul class="dropdown-menu learning-login-dropdown">
                        <li>
                            <a  href="javascript: void(0)">
                                <form class="login-form learning-login-form" novalidate>
                                    <div class="form-group learning-login-field">
                                        <label class="control-label visible-ie8 visible-ie9">Tên đăng nhập</label>
                                        <span class="learning-login-field-icon">
                                            <i class="fa fa-user"></i>
                                        </span>
                                        <input on-key-press="vm.login()" when-key-code="13"
                                               class="form-control form-control-solid placeholder-no-fix"
                                               type="text"
                                               autocomplete="off"
                                               placeholder="Tên đăng nhập"
                                               id="username"
                                               data-ng-model="vm.user.username"
                                               autofocus />
                                    </div>
                                    <div class="form-group margin-top-12 learning-login-field">
                                        <label class="control-label visible-ie8 visible-ie9">Mật khẩu</label>
                                        <span class="learning-login-field-icon">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                        <input on-key-press="vm.login()" when-key-code="13"
                                               class="form-control form-control-solid placeholder-no-fix"
                                               type="password"
                                               autocomplete="off"
                                               placeholder="Mật khẩu"
                                               id="password"
                                               data-ng-model="vm.user.password" />
                                    </div>
                                    <div class="form-actions">
                                        <button type="button" data-ng-click="vm.login()" class="btn green uppercase learning-login-submit"><i class="fa fa-sign-in"></i><span>Đăng nhập</span></button>
                                    </div>
                                </form>
                            </a>
                        </li>

                    </ul>
                </li>

            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<script type="text/ng-template" id="upload_photo_modal.html">
    <div modal-movable min-width="350px">
        <div class="modal-header">
            <h4 class="modal-title"><i class="icon-cloud-upload"></i> Cập nhật ảnh đại diện</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <a class="no-content1 display-block link" ngf-select="profilePhoto.triggerUpload($file, $invalidFiles)"
                       accept="image/*" ngf-pattern="image/*, .jpg, .png" ngf-accept="'image/*'" ngf-multiple="false" ngf-max-size="1MB"
                       ngf-min-height="300" ngf-max-height="1000" ngf-min-width="300" ngf-max-width="1000"><i class="fa fa-cloud-upload"></i> Chọn ảnh để tải lên</a>
                </div>

                <div class="col-md-12 margin-top-20" ng-if="profilePhoto.uploadedFile != null">
                    <div class="row">
                        <div class="col-xs-5 align-right">
                            <label>Tệp tin đã chọn:</label>
                        </div>
                        <div class="col-xs-7">
                            <span class="bold">{{profilePhoto.uploadedFile.name}}</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 margin-top-20" ng-if="profilePhoto.errorFile != null && profilePhoto.errorFile.$error != ''">
                    Error: <span class="bold" ng-if="profilePhoto.errorFile.$error == 'maxSize'">Kích thước tệp tin không được vượt quá {{profilePhoto.errorFile.$errorParam}}</span>
                    <span class="bold" ng-if="profilePhoto.errorFile.$error == 'maxWidth' || profilePhoto.errorFile.$error == 'maxHeight' || profilePhoto.errorFile.$error == 'minWidth' || profilePhoto.errorFile.$error == 'minHeight'">Kích thước ngang và dọc của ảnh phải từ 300 đến 1000 điểm ảnh.</span>
                    <span class="bold" ng-if="profilePhoto.errorFile.$error != null && profilePhoto.errorFile.$error != 'maxSize' && profilePhoto.errorFile.$error != 'maxWidth' && profilePhoto.errorFile.$error != 'maxHeight' && profilePhoto.errorFile.$error != 'minWidth' && profilePhoto.errorFile.$error != 'minHeight'">Tệp tin {{profilePhoto.errorFile.name}} không hợp lệ.</span>
                </div>

                <div class="col-md-12 margin-top-20" ng-if="profilePhoto.uploadedFile.progress >= 0">
                    <div class="progress" style="height: 20px">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" ng-bind="profilePhoto.uploadedFile.progress + '%'" style="width:{{profilePhoto.uploadedFile.progress}}%;">
                            {{profilePhoto.uploadedFile.progress}}%
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="profilePhoto.closeUploadFile()"  data-ng-disabled="profilePhoto.uploadedFile.progress > 0 && profilePhoto.uploadedFile.progress < 100" class="btn btn-default" data-dismiss="modal">Đóng lại</button>
            <button type="button" ng-click="profilePhoto.startUploadFile(profilePhoto.uploadedFile)" class="btn btn-primary" data-ng-disabled="profilePhoto.uploadedFile == null || (profilePhoto.errorFile != null && profilePhoto.errorFile.$error != '') || profilePhoto.uploadedFile.progress >= 100" data-dismiss="modal">Bắt đầu tải lên</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="crop_photo_modal.html">
    <div modal-movable>
        <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-crop"></i> Chỉnh sửa ảnh</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="cropper-crop-area">
                        <ui-cropper image="profilePhoto.photoUrl" area-type="square" area-init-size="{ w:cropper.cropWidth,h:cropper.cropHeight}" cropject="profilePhoto.cropper" result-image="profilePhoto.croppedImage"></ui-cropper>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="$close('yes')" class="btn btn-primary" data-dismiss="modal">Chấp nhận</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="change_password_modal.html">
    <div modal-movable min-width="350px">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="icon-shield"></i> Đổi mật khẩu</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-4">
                    <span style="font-size: 170px; color: #dddddd"><i class="im im-icon-Lock-3"></i></span>
                </div>
                <div class="col-xs-8">
                    <div class="row">
                        <div class="col-xs-12 margin-top-20">
                            <label for="_frm_change_password.current_password" class="bold">Mật khẩu hiện thời</label>
                            <input type="password" class="form-control" id="_frm_change_password.current_password" ng-model="changePasswordObj.currentPassword" autofocus="autofocus" />
                        </div>
                        <div class="col-xs-12 margin-top-20">
                            <label for="_frm_change_password.new_password" class="bold">Mật khẩu mới</label>
                            <input type="password" class="form-control" id="_frm_change_password.new_password" ng-model="changePasswordObj.newPassword" />
                        </div>
                        <div class="col-xs-12 margin-top-20">
                            <label for="_frm_change_password.new_password_rep" class="bold">Nhập lại mật khẩu mới</label>
                            <input type="password" class="form-control" id="_frm_change_password.new_password_rep" ng-model="changePasswordObj.newPasswordRep" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Hủy</button>
            <button type="button" ng-click="changePasswordObj.saveNewPassword()" class="btn blue-dark" data-dismiss="modal">Cập nhật</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="password_changed_modal.html">
    <div modal-movable min-width="350px">
        <div class="modal-header">
            <h4 class="modal-title"><i class="icon-shield"></i> Mật khẩu đã thay đổi</h4>
        </div>
        <div class="modal-body">
            Bạn đã thay đổi mật khẩu thành công. Bạn vui lòng đóng phiên làm việc hiện tại và đăng nhập lại bằng mật khẩu mới để tiếp tục.
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="$close(); logout();" class="btn blue-dark" data-dismiss="modal">Đóng phiên làm việc</button>
        </div>
    </div>
</script>

<style>
    /* =========================================================
       PUBLIC LOGIN NAV
       Đồng bộ Learning Hub / hỗ trợ tiếng Việt / mobile-first
       ========================================================= */

    .learning-public-nav,
    .learning-public-nav * {
        box-sizing: border-box;
    }

    .learning-public-nav {
        --public-blue: #5b7cfa;
        --public-purple: #8b5cf6;
        --public-ink: #26324b;
        --public-muted: #7b8499;
        --public-border: #e4e8f5;
        --public-font: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;

        margin: 8px 10px 12px !important;

        border: 1px solid var(--public-border) !important;
        border-radius: 22px !important;

        background:
            linear-gradient(
                180deg,
                rgba(255,255,255,.99),
                rgba(250,251,255,.99)
            ) !important;

        box-shadow:
            0 10px 28px rgba(62,72,112,.10) !important;

        overflow: visible !important;
    }

    /*
     * Font hệ thống cho chữ.
     * Không dùng wildcard lên icon font.
     */
    .learning-public-nav,
    .learning-public-nav a,
    .learning-public-nav span,
    .learning-public-nav input,
    .learning-public-nav button,
    .learning-public-nav label,
    .learning-public-nav li {
        font-family: var(--public-font) !important;
    }

    .learning-public-nav > .container-fluid,
    .learning-public-nav .container-fluid {
        padding-left: 12px !important;
        padding-right: 12px !important;

        background: transparent !important;
    }

    .learning-public-nav .navbar-header {
        min-height: 60px;
    }

    /* Chỉ hiện trên mobile, nằm bên trái nút hamburger. */
    .learning-public-nav .public-mobile-theme-toggle {
        display: none;
    }

    .learning-public-nav .public-theme-icon {
        line-height: 1;
    }

    .learning-public-nav .public-theme-icon-sun {
        display: none;
    }

    html.global-dark-mode
    .learning-public-nav
    .public-theme-icon-moon {
        display: none;
    }

    html.global-dark-mode
    .learning-public-nav
    .public-theme-icon-sun {
        display: inline-flex;
    }

    /* ---------- BRAND ---------- */

    .learning-public-nav .learning-public-brand {
        height: 60px !important;

        display: inline-flex !important;
        align-items: center !important;

        gap: 10px;

        margin: 0 !important;
        padding: 7px 8px !important;

        color: var(--public-ink) !important;

        font-size: 15px !important;
        font-weight: 800 !important;

        letter-spacing: -0.25px !important;

        text-decoration: none !important;
    }

    .learning-public-brand-icon {
        width: 42px;
        height: 42px;

        flex: 0 0 42px;

        display: inline-flex;
        align-items: center;
        justify-content: center;

        border-radius: 15px;

        color: #fff;

        background:
            linear-gradient(
                135deg,
                var(--public-blue),
                var(--public-purple)
            );

        box-shadow:
            0 7px 16px rgba(91,124,250,.22);
    }

    .learning-public-brand-icon .fa {
        font-size: 18px !important;
    }

    .learning-public-brand-text {
        white-space: nowrap;
    }

    /* ---------- NAV ---------- */

    .learning-public-nav .navbar-collapse {
        border: 0 !important;
        box-shadow: none !important;
    }

    .learning-public-nav .navbar-nav {
        margin-top: 8px !important;
        margin-bottom: 8px !important;
    }

    .learning-public-nav .navbar-nav > li > a {
        min-height: 44px;

        display: flex !important;
        align-items: center !important;

        gap: 7px;

        padding: 0 13px !important;

        border-radius: 14px !important;

        color: #536079 !important;
        background: #f8f9fe !important;

        font-size: 12px !important;
        font-weight: 650 !important;

        text-decoration: none !important;

        transition:
            background .16s ease,
            color .16s ease,
            transform .16s ease !important;
    }

    .learning-public-nav .navbar-nav > li > a:hover,
    .learning-public-nav .navbar-nav > li > a:focus,
    .learning-public-nav .navbar-nav > .open > a,
    .learning-public-nav .navbar-nav > .open > a:hover,
    .learning-public-nav .navbar-nav > .open > a:focus {
        color: #4c57cc !important;

        background:
            linear-gradient(
                135deg,
                #eef1ff,
                #f5efff
            ) !important;

        transform: translateY(-1px);
    }

    /* ---------- DESKTOP LOGIN ---------- */

    .learning-public-nav .learning-desktop-login {
        margin-left: auto !important;
    }

    .learning-public-nav .public-desktop-theme-toggle-item {
        margin-right: 8px;
    }

    .learning-public-nav .public-desktop-theme-toggle {
        width: 44px;
        height: 44px;

        display: inline-flex;
        align-items: center;
        justify-content: center;

        margin: 0;
        padding: 0;

        border: 1px solid #e1e5f4;
        border-radius: 14px;

        color: #5f65d8;
        background:
            linear-gradient(
                135deg,
                #eef1ff,
                #f4edff
            );

        font-size: 23px !important;
        cursor: pointer;

        box-shadow: 0 6px 14px rgba(91,124,250,.12);

        transition:
            transform .16s ease,
            background .16s ease,
            color .16s ease,
            box-shadow .16s ease !important;
    }

    .learning-public-nav .public-desktop-theme-toggle:hover,
    .learning-public-nav .public-desktop-theme-toggle:focus {
        color: #4d54ca;
        background:
            linear-gradient(
                135deg,
                #e7ebff,
                #eee5ff
            );
        outline: 0;
        transform: translateY(-1px);
        box-shadow: 0 8px 18px rgba(91,124,250,.18);
    }

    .learning-public-nav .public-desktop-theme-toggle:active {
        transform: scale(.94);
    }

    html.global-dark-mode
    .learning-public-nav
    .public-desktop-theme-toggle {
        border-color: #35415d;
        color: #ffd166;
        background:
            linear-gradient(
                135deg,
                #202a43,
                #2b2447
            );
        box-shadow: 0 6px 16px rgba(0,0,0,.24);
    }

    .learning-public-nav .learning-desktop-login > li > a {
        color: #fff !important;

        background:
            linear-gradient(
                135deg,
                var(--public-blue),
                var(--public-purple)
            ) !important;

        box-shadow:
            0 7px 16px rgba(91,124,250,.20) !important;
    }

    .learning-public-nav .learning-desktop-login > li > a:hover,
    .learning-public-nav .learning-desktop-login > li > a:focus {
        color: #fff !important;

        background:
            linear-gradient(
                135deg,
                #526fe7,
                #7a4fe5
            ) !important;
    }

    .learning-public-nav .learning-login-dropdown {
        right: 0 !important;
        left: auto !important;

        min-width: 290px !important;

        margin-top: 8px !important;
        padding: 10px !important;

        border: 1px solid var(--public-border) !important;
        border-radius: 18px !important;

        background: #fff !important;

        box-shadow:
            0 18px 42px rgba(55,65,103,.17) !important;
    }

    .learning-public-nav .learning-login-dropdown > li > a {
        padding: 0 !important;

        background: transparent !important;
    }

    .learning-public-nav .learning-login-form {
        width: 100%;

        padding: 6px;
    }

    .learning-public-nav .learning-login-field {
        position: relative;

        margin-bottom: 10px !important;
    }

    .learning-public-nav .learning-login-field-icon {
        position: absolute;
        z-index: 3;

        top: 50%;
        left: 12px;

        width: 28px;
        height: 28px;

        display: flex;
        align-items: center;
        justify-content: center;

        transform: translateY(-50%);

        border-radius: 9px;

        color: #6674df;

        background: #eef1ff;
    }

    .learning-public-nav .learning-login-form .form-control {
        width: 100%;
        height: 44px !important;
        min-height: 44px !important;

        padding: 0 12px 0 48px !important;

        border: 1px solid #dfe4f2 !important;
        border-radius: 12px !important;

        color: var(--public-ink) !important;
        background: #fbfcff !important;

        font-size: 13px !important;

        box-shadow: none !important;
    }

    .learning-public-nav .learning-login-form .form-control:focus {
        border-color: #8e9cff !important;

        box-shadow:
            0 0 0 3px rgba(91,124,250,.10) !important;
    }

    .learning-public-nav .learning-login-form .form-actions {
        margin-top: 10px;
    }

    .learning-public-nav .learning-login-submit {
        width: 100% !important;
        min-height: 44px !important;

        display: inline-flex !important;
        align-items: center !important;
        justify-content: center !important;

        gap: 8px;

        border: 0 !important;
        border-radius: 12px !important;

        color: #fff !important;

        background:
            linear-gradient(
                135deg,
                var(--public-blue),
                var(--public-purple)
            ) !important;

        font-size: 13px !important;
        font-weight: 750 !important;

        box-shadow:
            0 8px 18px rgba(91,124,250,.22) !important;
    }

    /* ---------- MOBILE TOGGLE ---------- */

    .learning-public-nav .navbar-toggle {
        width: 42px;
        height: 42px;

        margin: 9px 2px 0 0 !important;
        padding: 10px !important;

        border: 0 !important;
        border-radius: 14px !important;

        background:
            linear-gradient(
                135deg,
                #eef1ff,
                #f4edff
            ) !important;
    }

    .learning-public-nav .navbar-toggle .icon-bar {
        width: 20px !important;
        height: 2px !important;

        margin: 3px auto !important;

        border-radius: 2px;

        background: #5f65d8 !important;
    }

    /* ---------- ICON FONT PROTECTION ---------- */

    .learning-public-nav .fa,
    .learning-public-nav .fa:before {
        font-family: FontAwesome !important;
        font-style: normal !important;
        font-weight: normal !important;
    }

    .learning-public-nav [class^="icon-"],
    .learning-public-nav [class*=" icon-"],
    .learning-public-nav [class^="icon-"]:before,
    .learning-public-nav [class*=" icon-"]:before {
        font-family: "simple-line-icons" !important;
        font-style: normal !important;
        font-weight: normal !important;
    }

    .learning-public-nav .im,
    .learning-public-nav [class^="im-"],
    .learning-public-nav [class*=" im-"] {
        font-family: "iconsmind" !important;
        font-style: normal !important;
        font-weight: normal !important;
    }

    /* =========================================================
       MOBILE LOGIN
       ========================================================= */

    .learning-public-nav .for-media {
        display: none;
    }

    .learning-public-nav .not-for-media {
        display: block;
    }

    @media only screen and (max-width: 767px) {
        .learning-public-nav {
            margin: 6px 7px 10px !important;

            border-radius: 18px !important;
        }

        .learning-public-nav > .container-fluid,
        .learning-public-nav .container-fluid {
            padding-left: 8px !important;
            padding-right: 8px !important;
        }

        .learning-public-nav .navbar-header {
            position: relative;
            min-height: 58px;
        }

        .learning-public-nav .public-mobile-theme-toggle {
            position: absolute;
            z-index: 4;
            top: 9px;
            right: 52px;

            width: 42px;
            height: 42px;

            display: inline-flex !important;
            align-items: center;
            justify-content: center;

            margin: 0 !important;
            padding: 0 !important;

            border: 0 !important;
            border-radius: 14px !important;

            color: #5f65d8 !important;
            background:
                linear-gradient(
                    135deg,
                    #eef1ff,
                    #f4edff
                ) !important;

            font-size: 23px !important;
            cursor: pointer;

            box-shadow: none !important;

            transition:
                transform .16s ease,
                background .16s ease,
                color .16s ease !important;
        }

        .learning-public-nav .public-mobile-theme-toggle:hover,
        .learning-public-nav .public-mobile-theme-toggle:focus {
            color: #4d54ca !important;
            background:
                linear-gradient(
                    135deg,
                    #e7ebff,
                    #eee5ff
                ) !important;
            outline: 0 !important;
        }

        .learning-public-nav .public-mobile-theme-toggle:active {
            transform: scale(.94);
        }

        html.global-dark-mode
        .learning-public-nav
        .public-mobile-theme-toggle {
            color: #ffd166 !important;
            background:
                linear-gradient(
                    135deg,
                    #202a43,
                    #2b2447
                ) !important;
        }

        .learning-public-nav .learning-public-brand {
            height: 58px !important;

            padding: 7px 4px !important;

            font-size: 13px !important;
        }

        .learning-public-nav .learning-public-brand-icon {
            width: 38px;
            height: 38px;

            flex-basis: 38px;

            border-radius: 13px;
        }

        .learning-public-nav .learning-public-brand-text {
            max-width: 190px;

            overflow: hidden;

            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .learning-public-nav .navbar-collapse {
            margin: 0 !important;
            padding: 8px 0 10px !important;

            border-top: 1px solid #edf0f7 !important;
        }

        .learning-public-nav .for-media {
            display: block !important;

            width: 100% !important;

            margin: 0 0 7px !important;
        }

        .learning-public-nav .not-for-media {
            display: none !important;
        }

        .learning-public-nav .learning-mobile-login > li {
            width: 100% !important;
        }

        .learning-public-nav .learning-mobile-login > li > a {
            width: 100% !important;
            min-height: 0 !important;

            padding: 0 !important;

            background: transparent !important;
        }

        .learning-public-nav .learning-mobile-login input.form-control {
            width: 100% !important;
            height: 46px !important;
            min-height: 46px !important;

            padding: 0 13px !important;

            border: 1px solid #dfe4f2 !important;
            border-radius: 13px !important;

            color: var(--public-ink) !important;
            background: #fbfcff !important;

            font-size: 13px !important;

            box-shadow: none !important;
        }

        .learning-public-nav .learning-mobile-login input.form-control:focus {
            border-color: #8e9cff !important;

            box-shadow:
                0 0 0 3px rgba(91,124,250,.10) !important;
        }

        .learning-public-nav .learning-mobile-login-action .learning-login-submit,
        .learning-public-nav .learning-mobile-login-action button {
            width: 100% !important;
            min-height: 46px !important;

            display: flex !important;
            align-items: center !important;
            justify-content: center !important;

            gap: 8px;

            border: 0 !important;
            border-radius: 13px !important;

            color: #fff !important;

            background:
                linear-gradient(
                    135deg,
                    var(--public-blue),
                    var(--public-purple)
                ) !important;

            font-size: 13px !important;
            font-weight: 750 !important;

            box-shadow:
                0 8px 18px rgba(91,124,250,.20) !important;
        }
    }

    /* ---------- SMALL PHONE ---------- */

    @media only screen and (max-width: 360px) {
        .learning-public-nav .learning-public-brand-text {
            max-width: 150px;
        }

        .learning-public-nav .learning-public-brand {
            font-size: 12px !important;
        }
    }

    /* ---------- REDUCED MOTION ---------- */

    @media (prefers-reduced-motion: reduce) {
        .learning-public-nav *,
        .learning-public-nav *:before,
        .learning-public-nav *:after {
            transition: none !important;
            animation: none !important;
        }
    }
</style>
