<nav id="navscroll" class="navbar navbar-default ">
<!--<nav id="bottom" class="navbar navbar-default navbar-fixed-top">-->
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>


            <a ng-if="settings.ieltsRoom == true" class="navbar-brand" id="church-title" href="dashboards"> IELTS ROOM</a>
            <a ng-if="settings.chapter == true" class="navbar-brand" id="church-title" href="dashboards"> Chapter</a>
            <!--<a class="icon-for-media" target="_blank" href="fb://page/?id=105689154802913"><i class="fa fa-facebook-square " aria-hidden="true"></i></a>-->

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown" ng-if="settings.isViewer || settings.isAdmin">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vocabulary <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="question/3"><i class="fa fa-caret-right"></i>YOUR FLASHCARDS</a></li>
                        <li><a href="view/3"><i class="fa fa-caret-right"></i>GAME MODES</a></li>
                        <!--<li><a href="listening-game-mode/3"><i class="fa fa-caret-right"></i>LISTENING GAME MODES</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <!--<li><a href="ielts_vocabulary"><i class="fa fa-caret-right"></i>YOUR ROOM</a></li>-->
                        <!--<li role="separator" class="divider"></li>-->
                        <li><a href="topics"><i class="fa fa-caret-right"></i>TOPIC</a></li>
                    </ul>
                </li>
                <li class="dropdown" ng-if="settings.isViewer || settings.isAdmin">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TEST ROOM <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                        <a  href="create_ielts_reading_test">
                            <i class="fa fa-caret-right"></i> IELTS Test
                        </a>
                    </li>
                        <li>
                            <a target="_blank" href="test_results">
                                <i class="fa fa-caret-right"></i> Test Results
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" ng-if="settings.isStaff || settings.isAdmin">
                    <a href="product" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bán hàng <span class="caret"></span></a>
                    <!--<ul class="dropdown-menu">-->
                        <!--<li>-->
                            <!--<a  href="product">-->
                                <!--<i class="fa fa-caret-right"></i> Sản Phẩm-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                </li>
                <li class="dropdown" ng-if="settings.isStudentManagerment || settings.isAdmin">
                    <a href="person_dates" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ĐIỂM DANH <span class="caret"></span></a>
                    <!--<ul class="dropdown-menu">-->
                    <!--<li>-->
                    <!--<a  href="product">-->
                    <!--<i class="fa fa-caret-right"></i> Sản Phẩm-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--</ul>-->
                </li>
                <li class="dropdown" ng-if="settings.isStudentManagerment || settings.isAdmin">
                    <a href="user/accounts" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DANH SÁCH HỌC SINH <span class="caret"></span></a>
                    <!--<ul class="dropdown-menu">-->
                    <!--<li>-->
                    <!--<a  href="product">-->
                    <!--<i class="fa fa-caret-right"></i> Sản Phẩm-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--</ul>-->
                </li>
                <li class="dropdown" ng-if="settings.isStudentManagerment || settings.isAdmin">
                    <a href="student_marks" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DANH SÁCH ĐIỂM <span class="caret"></span></a>
                    <!--<ul class="dropdown-menu">-->
                    <!--<li>-->
                    <!--<a  href="product">-->
                    <!--<i class="fa fa-caret-right"></i> Sản Phẩm-->
                    <!--</a>-->
                    <!--</li>-->
                    <!--</ul>-->
                </li>
                <!--<li class="dropdown">-->
                    <!--<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CATECHISM <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li>-->
                            <!--<a  href="classical_learning">-->
                                <!--<i class="fa fa-caret-right"></i> CLASSICAL LEARNING-->
                            <!--</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
                <li ng-show="settings.isAdmin == true" class="menu-dropdown">
                    <!--<a href=""><i class="icon-equalizer"></i> System-->
                        <!--<i class="fa fa-angle-down"></i>-->
                    <!--</a>-->
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon-equalizer"></i> System <span class="caret"></span></a>
                    <ul class="dropdown-menu" >
                        <li>
                            <a href="user/groups">
                                <i class="icon-people"></i> Nhóm người dùng
                            </a>
                        </li>
                        <li>
                            <a href="user/accounts">
                                <i class="icon-user"></i> Người dùng
                            </a>
                        </li>
                        <li>
                            <a href="user/roles">
                                <i class="icon-badge"></i> Vai trò
                            </a>
                        </li>
                        <li>
                            <a href="user/permissions">
                                <i class="icon-shield"></i> Phân quyền
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a target="_blank" href="settings">
                                <i class="fa fa-gear"></i> Thiết lập hệ thống
                            </a>
                        </li>
                        <li>
                            <a href="education_programs">
                                <i class="fa fa-caret-right"></i> Chương trình đào tạo
                            </a>
                        </li>
                        <li>
                            <a href="marks">
                                <i class="fa fa-caret-right"></i> Điểm
                            </a>
                        </li>
                        <li>
                            <a href="ielts_material/admin">
                                <i class="fa fa-caret-right"></i> Material
                            </a>
                        </li>
                    </ul>
                </li>

                <li ng-show="settings.isAdmin == true" class="menu-dropdown">
                    <!--<a href=""><i class="icon-equalizer"></i> System-->
                    <!--<i class="fa fa-angle-down"></i>-->
                    <!--</a>-->
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon-equalizer"></i> Create Test <span class="caret"></span></a>
                    <ul class="dropdown-menu" >

                        <li>
                            <a  href="create_ielts_writing_test">
                                <i class="fa fa-caret-right"></i> Create IELTS Writing Test
                            </a>
                        </li>
                        <li>
                            <a  href="create_ielts_reading_test">
                                <i class="fa fa-caret-right"></i> Create IELTS Test
                            </a>
                        </li>
                        <li>
                            <a  href="create_ielts_listening_test">
                                <i class="fa fa-caret-right"></i> Create IELTS Listening Test
                            </a>
                        </li>
                        <li>
                            <a  href="test_results">
                                <i class="fa fa-caret-right"></i> Test Results
                            </a>
                        </li>
                        <li>
                            <a  href="statistic_user">
                                <i class="fa fa-caret-right"></i> Statistic User
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" >

                <li class="dropdown ">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" data-close-others="true">
                        <!--<img ng-if="!currentUser.hasPhoto" alt="" class="img-circle" ng-src="{{settings.assetsPath}}/images/no-profile-photo-small.png" />-->
                        <!--<img id="_user_profile_photo_small" ng-if="currentUser.hasPhoto" alt="" class="img-circle" ng-src="{{settings.api.baseUrl}}public/users/photo/{{currentUser.username}}" />-->
                        <span style="padding-left: 27px;padding-right: 27px" class="username username-hide-on-mobile" data-ng-cloak="">{{currentUser.person.firstName}} | {{currentUser.username}}  <span class="caret"></span></span>
                        <!--<i class="fa fa-angle-down"></i>-->
                    </a>
                    <ul class="dropdown-menu ">
                        <li class="user-photo" ng-if="!currentUser.hasPhoto" ng-if="!settings.isViewer">
                            <a ng-if="!settings.isViewer" target="_blank" href="#" ng-click="profilePhoto.showUploadModal()"><img class="img-circle" alt="User" ng-src="{{settings.assetsPath}}/images/no-profile-photo.png" /><span>cập nhật ảnh</span></a>
                        </li>
                        <li class="user-photo" ng-if="currentUser.hasPhoto" ng-if="!settings.isViewer">
                            <a ng-if="!settings.isViewer" target="_blank" href="#" ng-click="profilePhoto.showUploadModal()"><img id="_user_profile_photo_big" class="img-circle" alt="User" ng-src="{{settings.api.baseUrl}}public/users/photo/{{currentUser.username}}" /><span>cập nhật ảnh</span></a>
                        </li>
                        <li style="padding-top: 10px" ng-if="!settings.isViewer">
                            <a target="_blank" href="#" ng-click="changePassword()"><i class="icon-shield"></i> Đổi mật khẩu</a>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a target="_blank" href="#" data-ng-click="logout()"><i class="icon-power"></i> Đóng phiên làm việc </a>
                        </li>
                    </ul>
                </li>

                <!--<li class="not-for-media"><a target="_blank" href="https://www.facebook.com/GxDucMeManCoi"><i class="fa fa-facebook-square header-icon" aria-hidden="true"></i></a></li>-->


                <!--<li class="dropdown not-for-media">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-search header-icon" aria-hidden="true"></i>-->
                        <!--<span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li>-->
                            <!--<form class="navbar-form navbar-left">-->
                                <!--<div class="form-group">-->
                                    <!--<input type="text" class="form-control" ng-model="vm.textSearch" placeholder="Tìm kiếm..." ng-keyup="vm.enterSearchCodeClient(e)" >-->
                                <!--</div>-->
                                <!--&lt;!&ndash;<button type="submit" class="btn btn-default">Submit</button>&ndash;&gt;-->
                            <!--</form>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->

            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<script type="text/ng-template" id="upload_photo_modal.html">
    <div modal-movable min-width="350px">
        <div class="modal-header">
            <h4 class="modal-title"><i class="icon-cloud-upload"></i> Cập nhật ảnh đại diện</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <a class="no-content1 display-block link" ngf-select="profilePhoto.triggerUpload($file, $invalidFiles)"
                       accept="image/*" ngf-pattern="image/*, .jpg, .png" ngf-accept="'image/*'" ngf-multiple="false" ngf-max-size="1MB"
                       ngf-min-height="300" ngf-max-height="1000" ngf-min-width="300" ngf-max-width="1000"><i class="fa fa-cloud-upload"></i> Chọn ảnh để tải lên</a>
                </div>

                <div class="col-md-12 margin-top-20" ng-if="profilePhoto.uploadedFile != null">
                    <div class="row">
                        <div class="col-xs-5 align-right">
                            <label>Tệp tin đã chọn:</label>
                        </div>
                        <div class="col-xs-7">
                            <span class="bold">{{profilePhoto.uploadedFile.name}}</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 margin-top-20" ng-if="profilePhoto.errorFile != null && profilePhoto.errorFile.$error != ''">
                    Error: <span class="bold" ng-if="profilePhoto.errorFile.$error == 'maxSize'">Kích thước tệp tin không được vượt quá {{profilePhoto.errorFile.$errorParam}}</span>
                    <span class="bold" ng-if="profilePhoto.errorFile.$error == 'maxWidth' || profilePhoto.errorFile.$error == 'maxHeight' || profilePhoto.errorFile.$error == 'minWidth' || profilePhoto.errorFile.$error == 'minHeight'">Kích thước ngang và dọc của ảnh phải từ 300 đến 1000 điểm ảnh.</span>
                    <span class="bold" ng-if="profilePhoto.errorFile.$error != null && profilePhoto.errorFile.$error != 'maxSize' && profilePhoto.errorFile.$error != 'maxWidth' && profilePhoto.errorFile.$error != 'maxHeight' && profilePhoto.errorFile.$error != 'minWidth' && profilePhoto.errorFile.$error != 'minHeight'">Tệp tin {{profilePhoto.errorFile.name}} không hợp lệ.</span>
                </div>

                <div class="col-md-12 margin-top-20" ng-if="profilePhoto.uploadedFile.progress >= 0">
                    <div class="progress" style="height: 20px">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" ng-bind="profilePhoto.uploadedFile.progress + '%'" style="width:{{profilePhoto.uploadedFile.progress}}%;">
                            {{profilePhoto.uploadedFile.progress}}%
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="profilePhoto.closeUploadFile()"  data-ng-disabled="profilePhoto.uploadedFile.progress > 0 && profilePhoto.uploadedFile.progress < 100" class="btn btn-default" data-dismiss="modal">Đóng lại</button>
            <button type="button" ng-click="profilePhoto.startUploadFile(profilePhoto.uploadedFile)" class="btn btn-primary" data-ng-disabled="profilePhoto.uploadedFile == null || (profilePhoto.errorFile != null && profilePhoto.errorFile.$error != '') || profilePhoto.uploadedFile.progress >= 100" data-dismiss="modal">Bắt đầu tải lên</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="crop_photo_modal.html">
    <div modal-movable>
        <div class="modal-header">
            <h4 class="modal-title"><i class="fa fa-crop"></i> Chỉnh sửa ảnh</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="cropper-crop-area">
                        <ui-cropper image="profilePhoto.photoUrl" area-type="square" area-init-size="{ w:cropper.cropWidth,h:cropper.cropHeight}" cropject="profilePhoto.cropper" result-image="profilePhoto.croppedImage"></ui-cropper>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="$close('yes')" class="btn btn-primary" data-dismiss="modal">Chấp nhận</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="change_password_modal.html">
    <div modal-movable min-width="350px">
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="icon-shield"></i> Đổi mật khẩu</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-xs-4">
                    <span style="font-size: 170px; color: #dddddd"><i class="im im-icon-Lock-3"></i></span>
                </div>
                <div class="col-xs-8">
                    <div class="row">
                        <div class="col-xs-12 margin-top-20">
                            <label for="_frm_change_password.current_password" class="bold">Mật khẩu hiện thời</label>
                            <input type="password" class="form-control" id="_frm_change_password.current_password" ng-model="changePasswordObj.currentPassword" autofocus="autofocus" />
                        </div>
                        <div class="col-xs-12 margin-top-20">
                            <label for="_frm_change_password.new_password" class="bold">Mật khẩu mới</label>
                            <input type="password" class="form-control" id="_frm_change_password.new_password" ng-model="changePasswordObj.newPassword" />
                        </div>
                        <div class="col-xs-12 margin-top-20">
                            <label for="_frm_change_password.new_password_rep" class="bold">Nhập lại mật khẩu mới</label>
                            <input type="password" class="form-control" id="_frm_change_password.new_password_rep" ng-model="changePasswordObj.newPasswordRep" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Hủy</button>
            <button type="button" ng-click="changePasswordObj.saveNewPassword()" class="btn blue-dark" data-dismiss="modal">Cập nhật</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="password_changed_modal.html">
    <div modal-movable min-width="350px">
        <div class="modal-header">
            <h4 class="modal-title"><i class="icon-shield"></i> Mật khẩu đã thay đổi</h4>
        </div>
        <div class="modal-body">
            Bạn đã thay đổi mật khẩu thành công. Bạn vui lòng đóng phiên làm việc hiện tại và đăng nhập lại bằng mật khẩu mới để tiếp tục.
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="$close(); logout();" class="btn blue-dark" data-dismiss="modal">Đóng phiên làm việc</button>
        </div>
    </div>
</script>

<style>
    #navscroll{
        transition: 0.3s;
    }

    .navbar-default .navbar-nav>li>a {
        font-size: 18px;
        font-weight: 700;
    }

    .navbar-default .navbar-nav>li>a:hover {
        font-size: 18px;
        font-weight: 700;
    }

    .navbar {
        margin-bottom: 10px;
        border: none !important;
    }

    .header-icon {
        font-size: 17px;
    }

    .container-content{
        padding: 0;
        margin: 0;
    }

    #church-title {
        font-size: 22px;
        font-weight: 700;
        letter-spacing: 3px;
        font-family: Cambria;
        margin-left: 30px !important;
    }

    .dropdown-menu > li > a{
        font-family: Cambria !important;
        font-size: 16px;
    }

    .navbar-form {
        margin-right: 3px !important;
        margin-left: 3px !important;
        border: none;
        width: 100%;
    }

    #church-icon{
        height: 22px;
        width: 17px;
        display: inline-block;
        margin-bottom: 3px;
    }

    .icon-for-media{
        display: none;
    }

    .not-for-media{
        display: block;
    }

    @media only screen and (max-width: 767px){
        .navbar-nav .open .dropdown-menu{
            width: 100% !important;
        }

        #church-title{
            margin-left: 0 !important;
            font-size: 2.5vh !important;
        }

        .navbar-default .navbar-nav>li>a {
            font-size: 2.5vh !important;;
        }

        .navbar-default .navbar-nav>li>a:hover {
            font-size: 2.5vh !important;;
        }

        .dropdown-menu > li > a{
            font-size: 2.5vh !important;;
        }

        .dropdown-menu > li > a{
            font-family: Cambria !important;
            font-size: 2.5vh;
            font-weight: 500!important;
        }

        .header-icon {
            font-size: 2.5vh !important;;
        }
    }

    .navbar-default .navbar-toggle{
        margin-right: 5px;
        margin-top: 2px;

    }

    .navbar-default .navbar-nav>li>a {
        font-family: Cambria;
        /*padding-top: 20px;*/
    }

    .navbar-brand {
        /*padding-top: 20px;*/
    }

</style>
