<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row margin-top-10">
    <div class="col-md-12">
    
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-1 margin-bottom-10">
                        <button class="btn btn-default" data-ng-click="vm.newObject()"><i class="fa fa-plus-circle"></i>Add Topic</button>
                    </div>
                    <div class="col-md-3 margin-bottom-10">
                        <div class="input-group" style="padding-left: 10px">
                            <input ng-model="vm.searchDto.textSearch" ng-keyup="vm.enterSearchCode(e)" type="text"  class="form-control" placeholder="Find by name......">
                            <div class="input-group-btn">
                                <button ng-click="vm.codeChange()" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-8 margin-bottom-10">
                        <div class="input-group" style="padding-left: 10px">
                            <input ng-model="vm.searchDto.contentSearch" ng-keyup="vm.enterSearchCode(e)" type="text"  class="form-control" placeholder="Find by content......">
                            <div class="input-group-btn">
                                <button ng-click="vm.codeChange()" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <table id="bsTableControl" bs-table-control="vm.bsTableControl"></table>
            </div>
        </div>
    </div>
</div>

<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS-->
<script type="text/ng-template" id="edit_object_modal.html">
    <div modal-movable>
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"></button>
            <h4 class="modal-title" data-ng-if="vm.topic.isNew == true"><i class="icon-plus"></i>Add Topic</h4>
            <h4 class="modal-title" data-ng-if="vm.topic.isNew == false"><i class="fa fa-pencil-square-o"></i>Edit Topic</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <label class="bold">Tên</label>
                    <input data-ng-model="vm.topic.name" type="text" autofocus="autofocus" class="form-control" />
                </div>
                <div class="col-md-12">
                    <label class="bold">Content</label>
                    <!--<textarea ui-tinymce="tinymceOptions" rows="6" class="form-control" ng-model="vm.topic.content"  />-->
                    <textarea rows="12" class="form-control" ng-model="vm.topic.content"  />
                </div>
                <div class="col-md-12">
                    <label class="bold">Content HTML</label>
                    <textarea ui-tinymce="tinymceOptions" rows="6" class="form-control" ng-model="vm.topic.contentHtml"  />
                    <!--<textarea rows="12" class="form-control" ng-model="vm.topic.content"  />-->
                </div>
                <div ng-if="settings.isAdmin == true" class="col-md-12">
                    <input ng-model="vm.topic.website" type="number"  class=" input-underline-only" style="width: 60px" placeholder="Time...">
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
            <button type="button" ng-click="$close('yes');" class="btn btn-primary" data-dismiss="modal">Lưu</button>
        </div>
    </div>
</script>


<script type="text/ng-template" id="create_gaps_modal.html">
    <div modal-movable>
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"></button>
            <h4 class="modal-title" data-ng-if="vm.topic.isNew == false"><i class="fa fa-pencil-square-o"></i>Create Content</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table  table-bordered">
                        <tbody>
                        <tr ng-repeat="item in vm.questions">
                            <td class="print-column-type"><small class="">{{$index + 1}}. </small>{{item.question}}</td>
                            <td class="print-column-type">{{item.motherTongue}}</td>
                            <td class="print-column-type">{{item.pronounce}}</td>
                            <td class="print-column-type"></td>
                            <td class="print-column-type"></td>
                            <td class="print-column-type"></td>
                            <!--<td class="print-column" compile="item.description"></td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="col-md-12">
                    <div class="" compile="vm.fillingGapQuestion">
                    </div>
                    <br>
                </div>
                <!--<div class="col-md-12">-->
                    <!--<div class="" compile="vm.fillingGapQuestion">-->
                    <!--</div>-->
                <!--</div>-->
                <br>
                <div class="col-md-12">
                    <table class="table  table-bordered">
                        <tbody>
                        <tr ng-repeat="item in vm.questions">
                            <td class="print-column-type"></td>
                            <td class="print-column-type">{{item.motherTongue}}</td>
                            <td class="print-column-type">{{item.pronounce}}</td>
                            <td class="print-column-type"></td>
                            <td class="print-column-type"></td>
                            <td class="print-column-type"></td>
                            <!--<td class="print-column" compile="item.description"></td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
            <!--<button type="button" ng-click="$close('yes');" class="btn btn-primary" data-dismiss="modal">Lưu</button>-->
        </div>
    </div>
</script>

<script type="text/ng-template" id="create_normal_modal.html">
    <div modal-movable>
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"></button>
            <h4 class="modal-title" data-ng-if="vm.topic.isNew == false"><i class="fa fa-pencil-square-o"></i>Create Content</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <!--<div class="col-md-12" style="margin-bottom:30px">-->
                    <!--<textarea readonly rows="12" class="form-control" ng-model="vm.topic.content" />-->
                <!--</div>-->
                <br>
                <div class="col-md-12">
                    <table class="table  table-bordered">
                        <tbody>
                        <tr ng-repeat="item in vm.questions">
                            <td class="print-column-type"><small class="">{{$index + 1}}. </small>{{item.question}}</td>
                            <td class="print-column-type">{{item.motherTongue}}</td>
                            <td class="print-column-type">{{item.pronounce}}</td>
                            <td class="print-column-type"></td>
                            <td class="print-column-type"></td>
                            <td class="print-column-type"></td>
                            <!--<td class="print-column" compile="item.description"></td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="col-md-12" style="margin-bottom:30px" compile="vm.topic.content">

                </div>
                <br>
                <div class="col-md-12">
                    <table class="table  table-bordered">
                        <tbody>
                        <tr ng-repeat="item in vm.questions">
                            <td class="print-column-type"></td>
                            <td class="print-column-type">{{item.motherTongue}}</td>
                            <td class="print-column-type">{{item.pronounce}}</td>
                            <td class="print-column-type"></td>
                            <td class="print-column-type"></td>
                            <td class="print-column-type"></td>
                            <!--<td class="print-column" compile="item.description"></td>-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Hủy bỏ</button>
            <!--<button type="button" ng-click="$close('yes');" class="btn btn-primary" data-dismiss="modal">Lưu</button>-->
        </div>
    </div>
</script>

<script type="text/ng-template" id="confirm_delete_modal.html">
    <div modal-movable>
        <div class="modal-header">
            <button type="button" class="close" ng-click="$dismiss()" aria-hidden="true"></button>
            <h4 class="modal-title"><i class="icon-question"></i>Xóa</h4>
        </div>
        <div class="modal-body">
            <p>Bạn có chắc chắn muốn xóa bản ghi đã chọn không?</p>
        </div>
        <div class="modal-footer">
            <button type="button" ng-click="$dismiss()" class="btn btn-default" data-dismiss="modal">Không</button>
            <button type="button" ng-click="$close('yes')" class="btn btn-primary" data-dismiss="modal">Có</button>
        </div>
    </div>


</script>

<script>
    const txHeight = 16;
    const tx = document.getElementsByTagName("textarea");

    for (let i = 0; i < tx.length; i++) {
        if (tx[i].value == '') {
            tx[i].setAttribute("style", "height:" + txHeight + "px;overflow-y:hidden;");
        } else {
            tx[i].setAttribute("style", "height:" + (tx[i].scrollHeight) + "px;overflow-y:hidden;");
        }
        tx[i].addEventListener("input", OnInput, false);
    }

    function OnInput(e) {
        this.style.height = 0;
        this.style.height = (this.scrollHeight) + "px";
    }
</script>

<!-- BEGIN MAIN JS -->

<style>

    .print-column{
        width: 20%;
    }

    .print-column-type{
        width: 5%;
    }
    .print-column-type-2{
        width: 10%;
    }
    .print-column-ordinal-number{
        width: 1%;
    }

    .table {
        border: 0.5px solid #000000;
    }
    .table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > th,
    .table-bordered > tfoot > tr > th,
    .table-bordered > thead > tr > td,
    .table-bordered > tbody > tr > td,
    .table-bordered > tfoot > tr > td {
        border: 0.5px solid #000000;
    }
</style>